# 변수
* 자료를 담는 택배상자
* 택배상자에는 자료를 1개만 넣을 수 있다.
* 변수는 영문과 숫자를 조합해서 만들 수 있다.
* 변수명의 시작은 반드시 영문자로 시작 or \_영문자로 시작
* 변수명이 숫자로 시작하거나 -같은 특수문자로 시작하면 오류
* **예약어(이미 파이썬에서 사용하고 있는 함수명, 문법용 단어 ex)for, list, if, id)는 변수명으로 사용 불가**
* **주의!!** 파이썬은 예약어를 써도 변수가 만들어진다. 예약어를 만들지 않도록 주의!
* 변수명은 스네이크 표시법으로 작성 ex)user_name

In [4]:
a = 1

* 여기서 등호는 '같다'가 아닌 오른쪽 자료를 왼쪽에 넣는다 의미

In [5]:
print(a)

1

In [6]:
b = 2

In [7]:
print(b)

2

In [8]:
id(a)

2643637528880

* 메모리 주소

In [10]:
id(b)

2643637528912

In [12]:
id = 10

In [13]:
print(id)

10

In [14]:
id(b)

TypeError: 'int' object is not callable

In [5]:
# 변수명 작성하기
adfsdfefsdfasdf1234512 = 10

In [13]:
adfsdfefsdfasdf1234512

10

In [14]:
10a = 10

SyntaxError: invalid syntax (1883882313.py, line 1)

In [8]:
$a = 1

SyntaxError: invalid syntax (875084040.py, line 1)

In [16]:
_a

1

In [11]:
# 변수명을 2단어 이상으로 만들 때는 _로 연결하는 스네이크 표기법을 쓴다.
user_name='홍길동'
user_name

'홍길동'

In [12]:
# 변수명은 변수명만으로 안에 무어이 있을지 예측 가능해야 한다.
all_reviews="모든 리뷰"

In [ ]:
review_one = "리뷰 한개"

In [18]:
hap = 0

In [19]:
# 변수 지우기 del
print(hap)

0

In [20]:
del hap

In [21]:
print(hap)

NameError: name 'hap' is not defined

여러 개의 변수 동시에 만들고 자료 입력하기

In [22]:
a=1
b=2

In [23]:
a,b,c = 1,2,3

In [24]:
print(a,b,c)

1 2 3

In [25]:
a,b,c = [5,6,7]

In [26]:
print(a,b,c)

5 6 7

In [27]:
a,b,c = (8,9,10)

In [28]:
print(a,b,c)

8 9 10

# 자료형(data type)
## 파이썬의 자료형은 동적으로 변화
* int: 정수(소숫점이 없는 숫자)
* float: 실수(소숫점이 있는 숫자)
* str: 문자 / 문자열
* list: 여러개의 자료가 순서대로 저장된 자료형, 모든 자료형 넣을 수 있음 [자료]
* tiple: list와 비슷하나 한 번 만들면 수정이 안됨, 모든 자료형 넣을 수 있음 (자료)
* dictionary(dict): key:value 쌍으로 이루어진 자료형, 모든 자료형 넣을 수 있음 {key:value}
* set: 집합자료형, 자료의 중복이 되지않음 {자료}

# 데이터 타입을 출력하는 함수 type(변수)

# 1. 정수형 변수(int)

In [29]:
a=10
print(a)
print(type(a))

10
<class 'int'>

# 2. 실수형 변수(float)

In [31]:
b=3.14
print(b)
print(type(b))

3.14
<class 'float'>

# 3. 문자형 변수(str)
* 문자형 데이터는 반드시 따옴표 \',\" 안에 작성해야 한다.
* 문자: 문자 1개
* 문자열: 문자가 여러개 있는 것, 열 즉, 순서가 있다.

In [33]:
c = "문"
print(c)

문

In [34]:
c = '문'
print(c)

문

In [35]:
c = "문자열"
print(c)

문자열

# 문자열 인덱싱: 문자열은 순서가 있으므로 변수명[번호] 형태로 해당 위치의 문자를 출력/추출 가능

In [37]:
c

'문자열'

In [39]:
c[1]

'자'

In [42]:
c[0]

'문'

In [44]:
long_char="문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. 만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다."

In [45]:
print(long_char)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. 만약 줄바꿈을 하고 싶다면 \를 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다.

In [336]:
long_char2="\문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.\
만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다"

In [337]:
print(long_char2)

\문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.만약 줄바꿈을 하고 싶다면 \를 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다

In [50]:
long_char3="문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.\\ 만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 끝에 넣고\\ 줄바꿈을 할 수 있다."

In [ ]:
# 출력시 줄바꿈으로 하고 싶을 때 \n

In [55]:
long_char4="문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.\n \ 만약 줄바꿈을 하고 싶다면 \n \를 줄바꿈할 곳 끝에 넣고 \n \ 줄바꿈을 할 수 있다."

In [56]:
print(long_char4)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.
 \ 만약 줄바꿈을 하고 싶다면
 \를 줄바꿈할 곳 끝에 넣고
 \ 줄바꿈을 할 수 있다.

# 이스케이프문자 없이 줄바꿈하며 입력하고 싶을 때
""" """, ''' '''

In [65]:
long_char5 = """문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. 
만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다."""

In [66]:
print(long_char5)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.
만약 줄바꿈을 하고 싶다면 \를 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다.

In [67]:
long_char6 = '''문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. 
만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다.'''

In [68]:
print(long_char6)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.
만약 줄바꿈을 하고 싶다면 \를 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다.

In [338]:
long_char6

'문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. \n만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다.'

# 문자열의 길이 재기 len(문자열/변수)

In [73]:
len("문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. \n만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다.")

75

# 문자열의 번호(index)는 길이 -1 이다.
* len의 결과가 74일 경우 인덱스는 0-73번까지

In [74]:
long_char6[74]

'.'

# 문자의 덧셈, 곱셈
* 문자의 덧셈: 붙이기
* 문자의 곱셈: 반복

In [75]:
c = "python"
d = "모르겠어요"

In [76]:
print(c, d)

python 모르겠어요

In [79]:
e = c + d
print(e)

python모르겠어요

In [81]:
# 문자 + 문자2 == 문자문자2
f = c + " " + d
print(f)

python 모르겠어요

In [84]:
# 문자 곱셈 = 문자 반복
a = "*"
b = "Hello World"
print(a*11)
print(b)
print(a*11)

***********
Hello World
***********

# 문자열의 인덱싱과 슬라이싱
* 인덱싱: 문자열에 앞에서부터 부여된 숫자를 대괄호 안에 넣어서 그 위치의 문자를 출력하는 것.
  * 변수[숫자]
* 슬라이싱: 문자열에 부여된 인덱스 번호를 범위로 묶어서 가져오는 것.
  * 변수[시작번호:끝번호+1:간격]

In [85]:
sliceing = "슬라이싱: 문자열에 부여된 인덱스 번호를 범위로 묶어서 가져오는 것"

In [86]:
sliceing[0]

'슬'

In [87]:
sliceing[6:10]

'문자열에'

In [90]:
sliceing[: : 2]

'슬이:문열 여 덱 호 위 어 져는것'

# 4. 리스트 list
* list는 [] 안에 정수, 실수, 문자/문자열, 리스트, 튜플, 딕셔너리를 모두 넣어서 만든다.
* 리스트는 여러가지 자료가 나열된 형태이므로 순서가 있다.
* 인덱싱, 슬라이싱이 가능
* 자료의 추가/삭제 가능

In [91]:
a = [1, 3.5, "삼", "사십오", [1,2,3], (4,5,6), {"key":"value"}]

In [92]:
a

[1, 3.5, '삼', '사십오', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [96]:
print(a[4:7])

[[1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [97]:
print(type(a))

<class 'list'>

In [100]:
print(type(a[3]))

<class 'str'>

# 리스트 안에 리스트/튜플이 있는 경우

In [101]:
a

[1, 3.5, '삼', '사십오', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [103]:
a [3][2]

'오'

In [105]:
a[4][2]

3

# 중첩리스트

In [115]:
b = [1, 3.5, '삼', '사십오', [1, 2, [4,5,[7,8,9],10]], (4, 5, 6), {'key': 'value'}]

In [118]:
b[4][2][2][2]

9

# len함수로 길이 구하기

In [119]:
len(b)

7

In [121]:
len(b[3])

3

In [123]:
len(b[4][2])

4

# 리스트에 자료 추가하기 .append(자료)
* append로 추가된 자료는 리스트의 가장 마지막에 추가 됨

In [124]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'}]

In [126]:
b.append(99)

In [127]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99]

In [129]:
b.append(99.999)

In [130]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99,
 99.999,
 99.999]

In [131]:
b.append((1,2,3))

In [132]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99,
 99.999,
 99.999,
 (1, 2, 3)]

In [133]:
b.append({'key2': 'value2'})

In [134]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99,
 99.999,
 99.999,
 (1, 2, 3),
 {'key2': 'value2'}]

In [136]:
del b[9]
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99,
 (1, 2, 3),
 {'key2': 'value2'}]

리스트 자료 수정하기

In [139]:
b[0]=1000
b

[1000,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99,
 (1, 2, 3)]

In [138]:
del b[10:12]
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99,
 (1, 2, 3)]

# 5. 튜플 tuple
* 여러가지 자료를 () 안에 넣어서 만드는 자료형
* 모든 data type의 자료를 넣을 수 있다.
* 한번 생성하면 수정 불가
* 튜플이 리스트보다 실행 속도가 빠르다.

In [140]:
t=(1,)

In [141]:
t

(1,)

In [143]:
t2=(2)
t2

2

In [149]:
print(type(t), type(t2))

<class 'int'> <class 'int'>

In [151]:
t3=(1, 2.5, "문", "문자열", [3,4,5], (5,6,7),{'key': 'value'})
t3

(1, 2.5, '문', '문자열', [3, 4, 5], (5, 6, 7), {'key': 'value'})

In [153]:
t3[4]

[3, 4, 5]

In [154]:
t3[0:4]

(1, 2.5, '문', '문자열')

In [155]:
# 튜플은 자료 추가가 안됨
t3.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [156]:
# 튜플은 자료 수정도 안됨
t3[0]=100

TypeError: 'tuple' object does not support item assignment

In [157]:
# 튜플은 자료 삭제가 안된다.
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

# 6. 딕셔너리형(dict) JSON{"key":"value"}
* key와 value로 이루어진 데이터형
* json이라고도 불리며 웹상에서 데이터를 주고 받을때 주로 사용
* 딕셔너리의 value에는 모든 자료형이 올 수 있음
* 딕셔너리의 key에는 list, dict는 올 수 없음
* key를 호출하면 value가 출력
* 딕셔너리는 순서가 없는 자료형

In [169]:
dict1={"이름":"홍길동", "나이":33, "키":175.4, "가족":['둘리','또치','도우너']}

In [166]:
dict1["가족"]

['둘리', '또치', '도우너']

In [172]:
print(dict1["이름"], type(dict1["이름"]))

홍길동 <class 'str'>

In [173]:
print(dict1["나이"], type(dict1["나이"]))

33 <class 'int'>

In [174]:
print(dict1["가족"], type(dict1["가족"]))

['둘리', '또치', '도우너'] <class 'list'>

In [175]:
dict1["가족"][0]

'둘리'

In [348]:
dict2={"가족":['둘리','또치','도우너',{"키":[145,155,165]}]}

dict에서 len은 key의 갯수

In [180]:
len(dict2)

1

In [182]:
dict2["가족"][3]["키"][1]

155

# 딕셔너리에 자료 추가/삭제하기
* 자료추가
  * 변수명['새로운 key'] = 새 자료 **key가 중복되면 안됨. 중복될 경우 나중값으로 덮어쓰기**
* 자료삭제
  * del 변수명['key']

In [349]:
dict2

{'가족': ['둘리', '또치', '도우너', {'키': [145, 155, 165]}]}

In [352]:
dict2['좋아하는 음식']=['자장면','짬뽕','볶음밥']
dict2

{'가족': ['둘리', '또치', '도우너', {'키': [145, 155, 165]}],
 '좋아하는 음식': ['자장면', '짬뽕', '볶음밥']}

In [354]:
dict2['가족'][3]

{'키': [145, 155, 165]}

In [355]:
del dict2['가족'][3]
dict2

{'가족': ['둘리', '또치', '도우너'], '좋아하는 음식': ['자장면', '짬뽕', '볶음밥']}

In [356]:
dict2['가족']="대가족"

In [357]:
dict2

{'가족': '대가족', '좋아하는 음식': ['자장면', '짬뽕', '볶음밥']}

# 형변환 함수
* date type을 다른 걸로 바꾸는 것.
* int, float, stl ,list, tuple, dict

In [215]:
## 함수
c = 200
print (c, type (c))

200 <class 'int'>

In [359]:
d = "3.14"
print(d, type(d))

3.14 <class 'str'>

## str()숫자나 다른 자료형을 문자로 변환

In [361]:
a = 10
b = 34.5
c = (1,2,4, "오")
d = ("육", 7,8.5,9)
e = {e:{1,2,3}}

In [362]:
print(str(a), type(str(a)))

10 <class 'str'>

In [363]:
print(str(b), type(str(b)))
print(str(c), type(str(c)))
print(str(d), type(str(d)))
print(str(e), type(str(e)))

34.5 <class 'str'>
(1, 2, 4, '오') <class 'str'>
('육', 7, 8.5, 9) <class 'str'>
{'python': {1, 2, 3}} <class 'str'>

In [364]:
a = 3.14
print(a, type (a))

3.14 <class 'float'>

In [365]:
print(int(a), type (a))

3 <class 'float'>

In [366]:
b = 3
print(b, type (b))

3 <class 'int'>

In [211]:
print(b)

3

In [210]:
int(a)

3

In [212]:
print(int(b), type (b))

3 <class 'int'>

## list() 튜플이나 문자열로 되어 있는 리스트를 리스트로 변환

In [224]:
print(d, list(d), type(list(d)))

('육', 7, 8.5, 9) ['육', 7, 8.5, 9] <class 'list'>

In [228]:
c = str(c)
print(c, type(c))

(1, 2, 4, '오') <class 'str'>

In [230]:
print(list(c), type(list (c)))

['(', '1', ',', ' ', '2', ',', ' ', '4', ',', ' ', "'", '오', "'", ')'] <class 'list'>

In [232]:
d = list(d)
print(d, type(d))

['육', 7, 8.5, 9] <class 'list'>

In [233]:
d.append("튜플을 리스트로 변환 후 자료 입력")

In [234]:
d

['육', 7, 8.5, 9, '튜플을 리스트로 변환 후 자료 입력']

# tuple() 리스트를 튜플로 변환

In [236]:
d=tuple(d)
print(d, type(d))

('육', 7, 8.5, 9, '튜플을 리스트로 변환 후 자료 입력') <class 'tuple'>

# 연산자의 종류

## 산술연산자 +,-,*,/,%,//,**

In [241]:
# 덧셈
1 + 1

2

In [242]:
# 뺄셈
3 - 2

1

In [243]:
a = 3
b = 2

In [246]:
a - b

1

In [247]:
a + b

5

In [248]:
# 곱셈
a * b

6

### 나눗셈을 할 경우 데이터 타입이 정수에서 실수로 바뀐다.

In [249]:
# 나눗셈의 결과는 반드시 실수로 나온다.
b / a

0.6666666666666666

In [252]:
a = 5
b = 2

In [256]:
# 나머지 연산자 % 나눈 후 나머지만 출력
# 홀수 짝수 구분시 주로 사용 %2 == 0 짝수, %2 == 1 홀수
# 배수를 구할 떄 사용 %3 == 0 3의 배수, %7 == 7 7의 배수
print(a/b)
print(a%b)
print(6%2)
print(9%2)

2.5
1
0
1

In [258]:
# // 나눗셈 후 몫만 출력
print(5/2)
print(5//2)

2.5
2

In [259]:
# ** 제곱
print(2**7)

128

## 할당연산자
* =, +=, -=, *=, /=, %=

In [262]:
# = : 오른쪽에 있는 자료를 왼쪽 변수에 집어넣는 할당 연산자
a = 10
a

10

In [382]:
b = 2

In [371]:
# b = b + 10 => b += 10 (더하면서 할당해라!)
b += 10
b

12

In [376]:
# b = b - 2 => b -= 2 (빼면서 할당해라!)
b -= 2
b

0

In [379]:
# b = b *3 => b *= 3 
b *= 3
b

6

In [381]:
# b = b / 3 => b /= 3 
b /= 3
b

0.6666666666666666

In [383]:
# b = b % 2 => b %= 2 
b %=2
b

0

# 비교연산자
* 같다 ==
* 다른다 !=
* 초과 >
* 이상 >=
* 미만 <
* 이하 <=

In [384]:
a = 3
b = 3.0
c = 5
d = "Python"
e = 'python'
f = True
g = False

* == 같은면 True, 다르면 False

In [279]:
a == b

True

In [280]:
a == c

False

In [283]:
d == e

False

In [287]:
f == g

False

* != 같으면 False, 다르면 True

In [288]:
a != b

False

In [289]:
a != c

True

In [290]:
d != e

True

* \>: 왼쪽값을 오른쪽값과 비교해서 크면 True(초과) 
* \<: 왼쪽값을 오른쪽값과 비교해서 작으면 True(미만)
* \>=: 왼쪽값을 오른쪽값과 비교해서 크거나 같으면 True(이상) 
* \<=: 왼쪽값을 오른쪽값과 비교해서 크거나 작으면 True(이하)

In [292]:
5 >= 3

True

In [293]:
5 > 3

True

In [294]:
5 <= 3

False

In [295]:
5 < 5

False

# 논리 연산자
* and, or, not

* and: 왼쪽과 오른쪽 값 모두 True 일 때 True, 하나라도 False 면 False

In [298]:
# True and True
3 == 3 and 5 > 3

True

In [299]:
# False and True
3 < 3 and 5 > 3

False

In [300]:
# True and False 
3 == 3 and 5 < 3

False

In [301]:
# False and False 
3 < 3 and 5 < 3

False

* or 왼쪽이나 오른쪽 중에 하나라도 True 면 True, 둘다 False 일때만 False

In [302]:
# True or True
3 == 3 or 5 > 3

True

In [303]:
# False or True
3 < 3 or 5 > 3

True

In [304]:
# True or False 
3 == 3 or 5 < 3

True

In [306]:
# False or False 
3 < 3 or 5 < 3

False

* not 값을 반대로 뒤집음 True => False, False => True

In [307]:
not False

True

In [308]:
not True

False

* not, and, or 순위
* not > and > or

In [309]:
not True and not False or not False

True

In [310]:
10 == 10 and 10 != 5

True

# 식별연산자
* is, not is (data type 까지 같은지 비교)

In [311]:
print(a)
print(b)
print(c)

3
3.0
5

In [316]:
# ==는 값만 같으면 True, is는 값이 같아도 데이터 타입다르면 False
print(a==b)
print(a is b)

True
False

In [318]:
# a와 b 모두 int 3이기 때문에 True
print(a is not b)

True

* 멤버 연산자
* in, not in
* list나 tuple, dict 안에 원하는 값이 있는지 찾을때 사용

In [319]:
mem = [1,2,3,4,5,"육"]

In [320]:
3 in mem

True

In [322]:
6 not in mem

True

In [323]:
3 not in mem

False

# 문자열 함수 .replace("찾을값", "바꿀값")

In [325]:
c = "010-1111-2222"
c

'010-1111-2222'

In [327]:
c = c.replace("-", ".")

'010.1111.2222'