# XML

In [10]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
from dotenv import load_dotenv
import os
import re
load_dotenv("./naver_search_web/data/")

False

In [74]:
url = 'http://openapi.seoul.go.kr:8088/615659564f776a643539557a6f4c52/xml/VwsmAdstrdNcmCnsmpW/1/5/'
payload = dict(KEY=os.getenv("seoul"), Type="xml", pIndex=1, pSize=10)
r = requests.get(url)
#print(r.status_code)
response = bs(r.text, "xml")
response

<?xml version="1.0" encoding="utf-8"?>
<VwsmAdstrdNcmCnsmpW>
<list_total_count>11050</list_total_count>
<RESULT>
<CODE>INFO-000</CODE>
<MESSAGE>정상 처리되었습니다</MESSAGE>
</RESULT>
<row>
<STDR_YYQU_CD>20241</STDR_YYQU_CD>
<ADSTRD_CD>11545690</ADSTRD_CD>
<ADSTRD_CD_NM>시흥3동</ADSTRD_CD_NM>
<MT_AVRG_INCOME_AMT>2516251</MT_AVRG_INCOME_AMT>
<INCOME_SCTN_CD>06</INCOME_SCTN_CD>
<EXPNDTR_TOTAMT>501526000</EXPNDTR_TOTAMT>
<FDSTFFS_EXPNDTR_TOTAMT>123149000</FDSTFFS_EXPNDTR_TOTAMT>
<CLTHS_FTWR_EXPNDTR_TOTAMT>1842000</CLTHS_FTWR_EXPNDTR_TOTAMT>
<LVSPL_EXPNDTR_TOTAMT>25596000</LVSPL_EXPNDTR_TOTAMT>
<MCP_EXPNDTR_TOTAMT>17315000</MCP_EXPNDTR_TOTAMT>
<TRNSPORT_EXPNDTR_TOTAMT>189462000</TRNSPORT_EXPNDTR_TOTAMT>
<EDC_EXPNDTR_TOTAMT>7185000</EDC_EXPNDTR_TOTAMT>
<PLESR_EXPNDTR_TOTAMT>19648000</PLESR_EXPNDTR_TOTAMT>
<LSR_CLTUR_EXPNDTR_TOTAMT>14380000</LSR_CLTUR_EXPNDTR_TOTAMT>
<ETC_EXPNDTR_TOTAMT>9216000</ETC_EXPNDTR_TOTAMT>
<FD_EXPNDTR_TOTAMT>93733000</FD_EXPNDTR_TOTAMT>
</row>
<row>
<STDR_YYQU_CD>20191</STDR_YYQU_CD>
<ADSTRD_CD>11110530</ADSTRD_CD>
<ADSTRD_CD_NM>사직동</ADSTRD_CD_NM>
<MT_AVRG_INCOME_AMT>5208463</MT_AVRG_INCOME_AMT>
<INCOME_SCTN_CD>09</INCOME_SCTN_CD>
<EXPNDTR_TOTAMT>31889341000</EXPNDTR_TOTAMT>
<FDSTFFS_EXPNDTR_TOTAMT>1238314000</FDSTFFS_EXPNDTR_TOTAMT>
<CLTHS_FTWR_EXPNDTR_TOTAMT>158974000</CLTHS_FTWR_EXPNDTR_TOTAMT>
<LVSPL_EXPNDTR_TOTAMT>60281000</LVSPL_EXPNDTR_TOTAMT>
<MCP_EXPNDTR_TOTAMT>586427000</MCP_EXPNDTR_TOTAMT>
<TRNSPORT_EXPNDTR_TOTAMT>188458000</TRNSPORT_EXPNDTR_TOTAMT>
<EDC_EXPNDTR_TOTAMT>169234000</EDC_EXPNDTR_TOTAMT>
<PLESR_EXPNDTR_TOTAMT>293797000</PLESR_EXPNDTR_TOTAMT>
<LSR_CLTUR_EXPNDTR_TOTAMT>1241791000</LSR_CLTUR_EXPNDTR_TOTAMT>
<ETC_EXPNDTR_TOTAMT>23670438000</ETC_EXPNDTR_TOTAMT>
<FD_EXPNDTR_TOTAMT>4281627000</FD_EXPNDTR_TOTAMT>
</row>
<row>
<STDR_YYQU_CD>20191</STDR_YYQU_CD>
<ADSTRD_CD>11110615</ADSTRD_CD>
<ADSTRD_CD_NM>종로1·2·3·4가동</ADSTRD_CD_NM>
<MT_AVRG_INCOME_AMT>3350350</MT_AVRG_INCOME_AMT>
<INCOME_SCTN_CD>07</INCOME_SCTN_CD>
<EXPNDTR_TOTAMT>77584610000</EXPNDTR_TOTAMT>
<FDSTFFS_EXPNDTR_TOTAMT>3618998000</FDSTFFS_EXPNDTR_TOTAMT>
<CLTHS_FTWR_EXPNDTR_TOTAMT>7478066000</CLTHS_FTWR_EXPNDTR_TOTAMT>
<LVSPL_EXPNDTR_TOTAMT>861970000</LVSPL_EXPNDTR_TOTAMT>
<MCP_EXPNDTR_TOTAMT>4123252000</MCP_EXPNDTR_TOTAMT>
<TRNSPORT_EXPNDTR_TOTAMT>3236609000</TRNSPORT_EXPNDTR_TOTAMT>
<EDC_EXPNDTR_TOTAMT>2062644000</EDC_EXPNDTR_TOTAMT>
<PLESR_EXPNDTR_TOTAMT>2398515000</PLESR_EXPNDTR_TOTAMT>
<LSR_CLTUR_EXPNDTR_TOTAMT>13520753000</LSR_CLTUR_EXPNDTR_TOTAMT>
<ETC_EXPNDTR_TOTAMT>23729021000</ETC_EXPNDTR_TOTAMT>
<FD_EXPNDTR_TOTAMT>16554782000</FD_EXPNDTR_TOTAMT>
</row>
<row>
<STDR_YYQU_CD>20191</STDR_YYQU_CD>
<ADSTRD_CD>11110650</ADSTRD_CD>
<ADSTRD_CD_NM>혜화동</ADSTRD_CD_NM>
<MT_AVRG_INCOME_AMT>3472006</MT_AVRG_INCOME_AMT>
<INCOME_SCTN_CD>07</INCOME_SCTN_CD>
<EXPNDTR_TOTAMT>7826497000</EXPNDTR_TOTAMT>
<FDSTFFS_EXPNDTR_TOTAMT>1354887000</FDSTFFS_EXPNDTR_TOTAMT>
<CLTHS_FTWR_EXPNDTR_TOTAMT>215665000</CLTHS_FTWR_EXPNDTR_TOTAMT>
<LVSPL_EXPNDTR_TOTAMT>77222000</LVSPL_EXPNDTR_TOTAMT>
<MCP_EXPNDTR_TOTAMT>1129580000</MCP_EXPNDTR_TOTAMT>
<TRNSPORT_EXPNDTR_TOTAMT>20145000</TRNSPORT_EXPNDTR_TOTAMT>
<EDC_EXPNDTR_TOTAMT>195279000</EDC_EXPNDTR_TOTAMT>
<PLESR_EXPNDTR_TOTAMT>415196000</PLESR_EXPNDTR_TOTAMT>
<LSR_CLTUR_EXPNDTR_TOTAMT>565923000</LSR_CLTUR_EXPNDTR_TOTAMT>
<ETC_EXPNDTR_TOTAMT>361926000</ETC_EXPNDTR_TOTAMT>
<FD_EXPNDTR_TOTAMT>3490674000</FD_EXPNDTR_TOTAMT>
</row>
<row>
<STDR_YYQU_CD>20191</STDR_YYQU_CD>
<ADSTRD_CD>11110680</ADSTRD_CD>
<ADSTRD_CD_NM>창신2동</ADSTRD_CD_NM>
<MT_AVRG_INCOME_AMT>2179485</MT_AVRG_INCOME_AMT>
<INCOME_SCTN_CD>05</INCOME_SCTN_CD>
<EXPNDTR_TOTAMT>670987000</EXPNDTR_TOTAMT>
<FDSTFFS_EXPNDTR_TOTAMT>143195000</FDSTFFS_EXPNDTR_TOTAMT>
<CLTHS_FTWR_EXPNDTR_TOTAMT>23323000</CLTHS_FTWR_EXPNDTR_TOTAMT>
<LVSPL_EXPNDTR_TOTAMT>11149000</LVSPL_EXPNDTR_TOTAMT>
<MCP_EXPNDTR_TOTAMT>142754000</MCP_EXPNDTR_TOTAMT>
<TRNSPORT_EXPNDTR_TOTAMT>945000</TRNSPORT_EXPNDTR_TOTAMT>
<EDC_EXPNDTR_TOTAMT>0</EDC_EXPNDTR_TOTAMT>
<PLESR_EXPNDTR_TOTAMT>17411000</PLESR_EXPNDTR_TOTAMT>
<LSR_CLTUR_EXPNDTR_TOTAMT>32513000</LSR_CLTUR_EXPNDTR_TOTAMT>
<ETC_EXPNDTR_TOTAMT>18104000</ETC_EXPNDTR_TOTAMT>
<FD_EXPNDTR_TOTAMT>281593000</FD_EXPNDTR_TOTAMT>
</row>
</VwsmAdstrdNcmCnsmpW>

In [60]:
total_page = int(response.select_one("list_total_count").text) // 1000+1
total_page

12

In [76]:
tag_list = [tags.name for tags in response.select_one('row').find_all()]
tag_list

['STDR_YYQU_CD',
 'ADSTRD_CD',
 'ADSTRD_CD_NM',
 'MT_AVRG_INCOME_AMT',
 'INCOME_SCTN_CD',
 'EXPNDTR_TOTAMT',
 'FDSTFFS_EXPNDTR_TOTAMT',
 'CLTHS_FTWR_EXPNDTR_TOTAMT',
 'LVSPL_EXPNDTR_TOTAMT',
 'MCP_EXPNDTR_TOTAMT',
 'TRNSPORT_EXPNDTR_TOTAMT',
 'EDC_EXPNDTR_TOTAMT',
 'PLESR_EXPNDTR_TOTAMT',
 'LSR_CLTUR_EXPNDTR_TOTAMT',
 'ETC_EXPNDTR_TOTAMT',
 'FD_EXPNDTR_TOTAMT']

In [78]:
result2 = {}
for tag in tag_list:
    for value in response.select(tag):
        result2.setdefault(tag, []).append(value.text)
result2

result2
df = pd.DataFrame(result2)
df

,STDR_YYQU_CD,ADSTRD_CD,ADSTRD_CD_NM,MT_AVRG_INCOME_AMT,INCOME_SCTN_CD,EXPNDTR_TOTAMT,FDSTFFS_EXPNDTR_TOTAMT,CLTHS_FTWR_EXPNDTR_TOTAMT,LVSPL_EXPNDTR_TOTAMT,MCP_EXPNDTR_TOTAMT,TRNSPORT_EXPNDTR_TOTAMT,EDC_EXPNDTR_TOTAMT,PLESR_EXPNDTR_TOTAMT,LSR_CLTUR_EXPNDTR_TOTAMT,ETC_EXPNDTR_TOTAMT,FD_EXPNDTR_TOTAMT
0,20241,11545690,시흥3동,2516251,06,501526000,123149000,1842000,25596000,17315000,189462000,7185000,19648000,14380000,9216000,93733000
1,20191,11110530,사직동,5208463,09,31889341000,1238314000,158974000,60281000,586427000,188458000,169234000,293797000,1241791000,23670438000,4281627000
2,20191,11110615,종로1·2·3·4가동,3350350,07,77584610000,3618998000,7478066000,861970000,4123252000,3236609000,2062644000,2398515000,13520753000,23729021000,16554782000
3,20191,11110650,혜화동,3472006,07,7826497000,1354887000,215665000,77222000,1129580000,20145000,195279000,415196000,565923000,361926000,3490674000
4,20191,11110680,창신2동,2179485,05,670987000,143195000,23323000,11149000,142754000,945000,0,17411000,32513000,18104000,281593000

# 전체

In [80]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
from dotenv import load_dotenv
import time
import os
import re
load_dotenv("./naver_search_web/data/")

False

In [91]:
start = 1
end = 1000
page_num = 1
total_page = 1
result2 = {}

while page_num <= total_page:
    url = f'http://openapi.seoul.go.kr:8088/615659564f776a643539557a6f4c52/xml/VwsmAdstrdNcmCnsmpW/{start}/{end}/'
    payload = dict(KEY=os.getenv("seoul"), Type="xml", pIndex=1, pSize=10)
    r = requests.get(url)
    response = bs(r.text, "xml")
    response

    total_page = int(response.select_one("list_total_count").text) // 1000+1
    tag_list = [tags.name for tags in response.select_one('row').find_all()]
    
    kor_cols = ['기준_년분기_코드', '행정동_코드', '행정동_코드_명', '월_평균_소득_금액', '소득_구간_코드',
                '지출_총금액', '식료품_지출_총금액', '의류_신발_지출_총금액', '생활용품_지출_총금액',
                '의료비_지출_총금액', '교통_지출_총금액', '교육_지출_총금액', '유흥_지출_총금액',
                '여가_문화_지출_총금액', '기타_지출_총금액', '음식_지출_총금액']


    for tag, kor_col in zip(tag_list, kor_cols):
        for idx, value in enumerate(response.select(tag)):
            result2.setdefault(kor_col, []).append(value.text)


    print(f"{page_num}/{total_page}수집중입니다", end="\r")
    page_num += 1
    start += 1000
    end += 1000


df = pd.DataFrame(result2)
df

,기준_년분기_코드,행정동_코드,행정동_코드_명,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,교육_지출_총금액,유흥_지출_총금액,여가_문화_지출_총금액,기타_지출_총금액,음식_지출_총금액
0,20241,11545690,시흥3동,2516251,06,501526000,123149000,1842000,25596000,17315000,189462000,7185000,19648000,14380000,9216000,93733000
1,20191,11110530,사직동,5208463,09,31889341000,1238314000,158974000,60281000,586427000,188458000,169234000,293797000,1241791000,23670438000,4281627000
2,20191,11110615,종로1·2·3·4가동,3350350,07,77584610000,3618998000,7478066000,861970000,4123252000,3236609000,2062644000,2398515000,13520753000,23729021000,16554782000
3,20191,11110650,혜화동,3472006,07,7826497000,1354887000,215665000,77222000,1129580000,20145000,195279000,415196000,565923000,361926000,3490674000
4,20191,11110680,창신2동,2179485,05,670987000,143195000,23323000,11149000,142754000,945000,0,17411000,32513000,18104000,281593000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11045,20243,11620735,대학동,2622408,06,2565461000,1082769000,14441000,3555000,306314000,1830000,73136000,83938000,125324000,80517000,793637000
11046,20243,11650570,반포2동,6812331,09,591390000,170387000,1136000,0,89215000,3507000,151776000,0,24476000,18836000,132057000
11047,20243,11650590,방배본동,4856162,08,6368143000,337715000,38519000,50812000,343531000,198834000,129994000,21332000,135738000,4685978000,425690000
11048,20243,11680640,역삼1동,3607265,07,462852749000,2875360000,1065433000,347696000,10855447000,217119000,2313910000,1022743000,376215448000,60753193000,7186400000
11049,20243,11680655,도곡1동,5412484,09,12575577000,358391000,16057000,36620000,3905612000,251401000,187397000,19650000,7053322000,91994000,655133000

In [92]:
df = pd.DataFrame(result2)
df.to_csv("./naver_search_web/data/서울시 상권분석(소득소비-행정동).csv", index=False, encoding="utf-8-sig")