# 가제트 만능 팔 - 딕셔너리

## 1.우리 반 학생들의 이름과 나이 저장하기
우리 반 학생들의 이름과 나이가 적힌 명단이 있습니다. 이 명단을 파이썬 자료형 딕셔너리(dictionary)를 활용해 저장하려고 합니다. 우리 반 학생들 명단은 아래와 같을 때 저장하는 코드를 작성하고 다음과 같이 출력하세요.<br>
![img80]()

실행결과
```
{'메이킷': 17, '우진': 9, '시은': 11, '제임스': 10}
```

In [2]:
student = {'메이킷': 17, '우진': 9, '시은': 11, '제임스': 10}
print(student)

{'메이킷': 17, '우진': 9, '시은': 11, '제임스': 10}

## 2. 자기 소개하기
아래와 같은 내용을 저장하는 딕셔너리 자료형을 s로 만들고 s를 활용해 다음과 같이 출력하는 코드를 작성하세요.

---
사는 곳 : 서울<br>
성별 : 여자<br>
이름 : 시은<br>
나이 : 11<br>
혈액형 : b

---

실행결과
```
내가 살고 있는 곳은 서울 입니다.
나의 성별은 여자 이고 이름은 시은 입니다.
나이는 11 살 이고 혈액형은 b 형입니다.
```

In [11]:
s = {"사는 곳" : "서울", "성별" : "여자", "이름" : "시은", "나이" : 11, "혈액형" : "b"}
print(f"내가 살고 있는 곳은 {s['사는 곳']} 입니다.")
print(f"나의 성별은 {s['성별']}이고 이름은 {s['이름']} 입니다.")
print(f"나의 나이는 {s['나이']}살 이고 혈액형은 {s['혈액형']} 입니다.")

내가 살고 있는 곳은 서울 입니다.
나의 성별은 여자이고 이름은 시은 입니다.
나의 나이는 11살 이고 혈액형은 b 입니다.

## 3.딕셔너리에 추가하기
아래와 같은 내용을 저장하는 딕셔너리 자료형 s를 만들고, 나이와 혈액형을 입력받아 딕셔너리 s에 입력받은 자료를 추가해 다음과 같이 출력하는 코드를 작성하세요.

---
사는 곳: 인천 송도
성별: 남자
이름: 우진

---

실행결과
```
# 입력
나이는 몇 살인가요?9
혈액형은 무엇인가요?b

# 출력
나의 성별은 남자 이고 이름은 우진 입니다.
나이는 9 살 이고 혈액형은 b 형입니다.
```

In [15]:
s = {"사는 곳": "인천 송도", "성별": "남자", "이름": "우진"}
s["나이"]= 9

In [18]:
s["혈액형"]="b"
s

{'사는 곳': '인천 송도', '성별': '남자', '이름': '우진', '나이': 9, '혈액형': 'b'}

In [20]:
print(f"나의 성별은 {s['성별']}이고 이름은 {s['이름']} 입니다.")
print(f"나이는 {s['나이']}살 이고 혈액형은 {s['혈액형']} 입니다.")

나의 성별은 남자이고 이름은 우진 입니다.
나이는 9살 이고 혈액형은 b 입니다.

## 4. 딕셔너리에서 삭제하기
다음 코드를 수행했을 때 같은 출력 결과가 나오도록 빈 칸에 들어가야 할 코드를 완성해서 입력하세요.

```
{'성별': '남자', '이름': '우진'}
```

In [41]:
s = {'사는 곳':'인천 송도', '성별':'남자','이름':'우진'}
s.pop('사는 곳')
s

{'성별': '남자', '이름': '우진'}

## 5.딕셔너리에서 뽑아내기 keys(), values(), items()
아래와 같은 코드를 수행했을 때 같은 출력 결과가 나오도록 빈 칸에 들어가야 할 코드를 완성하세요.

```
['사는 곳', '성별', '이름']
['인천 송도', '남자', '우진']
[('사는 곳', '인천 송도'), ('성별', '남자'), ('이름', '우진')]
```

In [52]:
s = {'사는 곳':'인천 송도', '성별':'남자','이름':'우진'}
print(list(s.keys()))
print(list(s.values()))
print(list(s.items()))

['사는 곳', '성별', '이름']
['인천 송도', '남자', '우진']
[('사는 곳', '인천 송도'), ('성별', '남자'), ('이름', '우진')]

## 6. 딕셔너리와 if 조건문의 만남
store 딕셔너리에 다음과 같이 물건이름과 가격이 저장되어 있습니다.
```
#코드
store = {'새우칩':1500, '옥수수칩':1800,'콜라':700,'양파칩':1300}
```
아래 실행 결과와 같이 물건의 이름을 입력하면 가격을 알려주는 코드를 작성하세요. 단, 딕셔너리에 없는 물건을 입력하면 실행을 중단합니다.

실행결과
```
물품을 입력하면 가격을 알려드립니다
물품 이름은?새우칩
새우칩의 가격은 1500 입니다
물품 이름은?양파칩
양파칩의 가격은 1300 입니다
물품 이름은?콜라
콜라의 가격은 700 입니다
물품 이름은?사이다
사이다는 등록되어 있지 않습니다
```

In [61]:
store = {'새우칩':1500, '옥수수칩':1800,'콜라':700,'양파칩':1300}
print("물품을 입력하면 가격을 알려드립니다")

item = input("물품 이름은? ")
    
if item in store:
    print(f"{item}의 가격은 {store[item]} 입니다")
else:
    print(f"{item}는 등록되어 있지 않습니다")

물품을 입력하면 가격을 알려드립니다
물품 이름은? 양파칩
양파칩의 가격은 1300 입니다

## 7. 딕셔너리의 값으로 리스트 사용하기
우리 가게 물품 리스트는 아래와 같습니다.

![image55.png]()

이 자료를 store 딕셔너리에 추가하고 아래와 같은 결과가 나오도록 코드를 작성하세요.

실행결과
```
1 번 물품은 새우칩 이고 가격은 1500 이고 수량은 3 개입니다
2 번 물품은 옥수수칩 이고 가격은 1800 이고 수량은 2 개입니다
3 번 물품은 콜라 이고 가격은 700 이고 수량은 4 개입니다
4 번 물품은 양파칩 이고 가격은 1300 이고 수량은 1 개입니다
우리 가게는 4 개의 물건 종류가 있습니다
우리 가게 모든 물건 수량은 10 개 있습니다
우리 가게 모든 물건들의 가격 총합은 12200 입니다
우리 가게 모든 물건들의 평균 가격은 1220.0 원입니다
```

In [1]:
# 1. 딕셔너리에 값으로 리스트 저장
store = {
    '새우칩': [1500, 3],
    '옥수수칩': [1800, 2],
    '콜라': [700, 4],
    '양파칩': [1300, 1]
}

# 2. 물품 출력
num = 1
for item, info in store.items():
    price = info[0]
    qty = info[1]
    print(f"{num} 번 물품은 {item} 이고 가격은 {price} 이고 수량은 {qty} 개입니다")
    num += 1

1 번 물품은 새우칩 이고 가격은 1500 이고 수량은 3 개입니다
2 번 물품은 옥수수칩 이고 가격은 1800 이고 수량은 2 개입니다
3 번 물품은 콜라 이고 가격은 700 이고 수량은 4 개입니다
4 번 물품은 양파칩 이고 가격은 1300 이고 수량은 1 개입니다

In [2]:
# 3. 총 물품 종류 수
print(f"우리 가게에는 {len(store)} 개의 물품 종류가 있습니다")

# 4. 총 수량
total_qty = 0
for info in store.values():
    total_qty += info[1]
print(f"우리 가게 모든 물품의 수량은 {total_qty} 개 있습니다")

# 5. 총 가격 합계
total_price = 0
for info in store.values():
    total_price += info[0] * info[1]
print(f"우리 가게 모든 물건들의 가격 총합은 {total_price} 원입니다")

# 6. 평균 가격
average_price = total_price / total_qty
print(f"우리 가게 모든 물건들의 평균 가격은 {average_price} 원입니다")

우리 가게에는 4 개의 물품 종류가 있습니다
우리 가게 모든 물품의 수량은 10 개 있습니다
우리 가게 모든 물건들의 가격 총합은 12200 원입니다
우리 가게 모든 물건들의 평균 가격은 1220.0 원입니다

## 8.딕셔너리의 값으로 딕셔너리 사용하기
우리 반 학생들의 명단과 학생들이 각각 수업을 듣고 있는 과목과 시험 점수가 다음과 같이 표로 정리되어 있습니다.

![image56.png]()

딕셔너리를 사용해 위 자료를 저장하고 아래와 같은 결과가 나오도록 코드를 작성하세요.

```
우진이의 코딩 점수는? 95
시은이의 과학 점수는? 100
메이킷의 영어 점수는? 85
```

In [7]:
score={'우진': {'코딩': 95, '수학': 99},
       '시은': {'과학': 100, '코딩': 99},
       '메이킷': {'영어': 85, '코딩': 100}}

# 2. 점수 출력
print("우진이의 코딩 점수는?", score['우진']['코딩'])
print("시은이의 과학 점수는?", score['시은']['과학'])
print("메이킷의 영어 점수는?", score['메이킷']['영어'])

우진이의 코딩 점수는? 95
시은이의 과학 점수는? 100
메이킷의 영어 점수는? 85

# 여자는 1번 방으로, 남자는 2번 방으로 – 조건문

## 9. 두 수 비교하기
다음과 같이 정수 두 개를 x, y로 입력받아 x가 y보다 크면 'makit'을, 작거나 같으면 'woojin'을 출력하는 코드를 작성하세요.<br>
실행결과
```
첫 번째 정수를 입력하세요:7
두 번째 정수를 입력하세요:10
woojin
```

In [9]:
x = int(input("첫 번째 정수를 입력하세요: "))
y = int(input("두 번째 정수를 입력하세요: "))
if x>y:
    print("makit")
else:
    print("woojin")

첫 번째 정수를 입력하세요: 7
두 번째 정수를 입력하세요: 10
woojin

## 10. 세 개의 수 비교하기
다음과 같이 정수 세 개를 a, b, c로 입력받아 홀수만 출력하는 코드를 작성하세요.<br>
실행결과
```
# 입력
첫 번째 정수를 입력하세요:3
두 번째 정수를 입력하세요:8
세 번째 정수를 입력하세요:17

# 홀수인 입력만 출력
3
17
```

In [21]:
a = int(input("첫 번째 정수를 입력하세요: "))
b = int(input("두 번째 정수를 입력하세요: "))
c = int(input("세 번째 정수를 입력하세요: "))

if a %2 == 1:
    print(a)
if b %2 == 1:
    print(b)
if c %2 == 1:
    print(c)

첫 번째 정수를 입력하세요: 3
두 번째 정수를 입력하세요: 8
세 번째 정수를 입력하세요: 17
3
17

## 11. 홀수 찾기
다음과 같이 정수 세 개를 a, b, c로 입력받아 홀수, 짝수를 구분해 출력하는 코드를 작성하세요.<br>
실행결과
```
# 입력
첫 번째 정수를 입력하세요:3
두 번째 정수를 입력하세요:8
세 번째 정수를 입력하세요:17

# 출력
3 홀수
8 짝수
17 홀수
```

In [23]:
a = int(input("첫 번째 정수를 입력하세요: "))
b = int(input("두 번째 정수를 입력하세요: "))
c = int(input("세 번째 정수를 입력하세요: "))

if a %2 == 1:
    print(a, "홀수")
else:
    print(a, "짝수")
if b %2 == 1:
    print(b, "홀수")
else:
    print(b, "짝수")
if c %2 == 1:
    print(c, "홀수")
else:
    print(c, "짝수")

첫 번째 정수를 입력하세요: 3
두 번째 정수를 입력하세요: 8
세 번째 정수를 입력하세요: 17
3 홀수
8 짝수
17 홀수

## 12. 양수, 음수, 홀수, 짝수 구분하기
다음과 같이 0 이외의 정수 한 개를 입력받아, 음수 또는 양수, 짝수 또는 홀수로 구분해 출력하는 코드를 작성하세요. and와 or 연산자를 사용할 수 있으면 사용하세요.<br>
실행결과
```
-14
음수이고 짝수
```

In [34]:
num = int(input("정수를 입력하세요: "))


if num > 0:
    print("양수")
else:
    print("음수")
if num %2 == 1:
    print("홀수")
else:
    print("짝수")

정수를 입력하세요: -14
음수
짝수

## 13. 성적 결과 계산하기
다음 실행 결과와 같이 코딩 과목의 시험 점수를 0점 이상~100점 이하의 값으로 입력받아 학점을 출력하는 코드를 작성하세요. 코딩 점수에 따른 학점은 아래와 같습니다.<br>

---
90점 이상 : A학점<br>
80점 이상 ~ 90점 미만 : B학점<br>
70점 이상 ~ 80점 미만 : C학점<br>
60점 이상 ~ 70점 미만 : D학점<br>
60점 미만 : F학점

---

실행결과
```
코딩 점수를 입력하세요:89
B학점
```

In [30]:
score = int(input("코딩 점수를 입력 하세요: "))
if 0 <= score <= 100:
    if 0 <= score < 60:
        print("F학점")
    elif 60 <= score < 70:
        print("D학점")
    elif 70 <= score < 80:
        print("C학점")
    elif 80 <= score < 90:
        print("B학점")
    elif 90 <= score <= 100:
        print("A학점")
else:
    print(f"숫자를 0-100 사이로 입력해주세요")

코딩 점수를 입력 하세요: 89
B학점

## 14. 입력에 따라 친구 이름 출력하기
m, j, w, s 입력에 따라 각각 makit, james, woojin, sieun을 출력하고 m, j, w, s 이외의 문자가 입력되면 howard를 출력하는 코드를 작성하세요.<br>
실행결과
```
s
sieun
```

In [39]:
name = str(input("이름 m, j, w, s 중 하나를 입력해 주세요: "))

if name == "m":
    print("makit")
if name == "j":
    print(" james")
if name == "w":
    print(" woojin")
if name == "s":
    print("sieun")
else:
    print("howard")

이름 m, j, w, s 중 하나를 입력해 주세요: h
howard

## 15.봄, 여름, 가을, 겨울
1~12까지 숫자를 입력하면 해당하는 달의 계절을 다음과 같이 출력하는 코드를 작성하세요. 각 월에 따른 계절은 아래 기준으로 코드를 작성하세요.<br>

---

12월 ~ 2월 : 겨울<br>
3월 ~ 5월 : 봄<br>
6월 ~ 8월 : 여름<br>
9월 ~ 11월 : 가을<br>

---

실행결과
```
몇 월 달인가요? 8
여름
```

In [43]:
season = int(input("1-12 사이의 숫자를 입력해 주세요: "))
if 1 <= season <= 12:
    if 12 <= season < 2:
        print("겨울")
    elif 3 <= season <= 5:
        print("봄")
    elif 6 <= season <= 8:
        print("여름")
    elif 9 <= season <- 11:
        print("가을")
else:
    print(f"숫자를 1-12 사이로 입력해주세요")

1-12 사이의 숫자를 입력해 주세요: 8
여름

## 16. 12월은 31일까지 있어요
다음과 같이 1~12까지 달을 입력받아서, 입력받은 달은 몇 일까지 있는지 출력하는 코드를 작성하세요.  참고로 각 달의 일수는 아래와 같으며, 윤년은 고려하지 않습니다.<br>

---

2월: 28일<br>
4월, 6월, 9월, 11월: 30일<br>
1월, 3월, 5월, 7월, 8월, 10월, 12월: 31일<br>

---

실행결과
```
몇 월인가요? 12
12 월은 31일까지 있습니다

몇 월인가요? 6
6 월은 30일까지 있습니다
```

In [49]:
month = int(input("몇 월인가요?: "))
if 1 <= month <= 12:
    if month == 2:
        print(f"{month}는 28일까지 있습니다.")
    elif month in (4,6,9,11):
        print(f"{month}는 30일까지 있습니다.")
    elif month in (1,3,5,7,8,10,12):
        print(f"{month}는 31일까지 있습니다.")

else:
    print(f"숫자를 1-12 사이로 입력해주세요")

몇 월인가요?: 9
9는 30일까지 있습니다.

## 17. 까다로운 놀이기구 I
놀이공원에 있는 어떤 놀이기구를 타려면 특별한 조건이 필요합니다. 이름이 m으로 시작하거나 또는 키가 150cm 이상이고 170cm 미만이면 탈 수 있습니다. 그 외의 경우는 놀이기구를 탈 수 없습니다. 다음 두 가지 실행 결과 예시를 보고 놀이기구를 탈 수 있는 조건을 판별해 알려주는 코드를 작성하세요.<br>

실행결과
```
이름을 입력하세요:makit
키를 입력하세요:145.5
탈 수 있어요

이름을 입력하세요:sophia
키를 입력하세요:171.2
탈 수 없어요
```

In [54]:
name = str(input("이름을 입력하세요: "))
high = float(input("키를 입력하세요: "))

if name[0] == "m" or 150 <= high <170:
    print('탈 수 있어요.')
else:
    print('탈 수 없어요.')

이름을 입력하세요: sophia
키를 입력하세요: 171.2
탈 수 없어요.

## 18. 까다로운 놀이기구 II
놀이공원에 있는 놀이기구를 타려면 특별한 조건이 있습니다 . 키가 150cm 이상이고 170cm 미만이면 이 놀이기구를 탈 수 있습니다. 또는 키가 175cm 이상이고 180cm 이하면 탈 수 있습니다. 놀이기구를 탈 수 있는 조건을 판별하는 코드를 작성하세요.<br>
실행결과
```
키를 입력하세요:176
탈 수 있어요
```
```
키를 입력하세요:180
탈 수 있어요
```
```
키를 입력하세요:174
탈 수 없어요
```

In [56]:
high = float(input("키를 입력하세요: "))

if 150 <= high <170 or 175 <= high <= 180:
    print('탈 수 있어요.')
else:
    print('탈 수 없어요.')

키를 입력하세요: 174
탈 수 없어요.

## 19. 까다로운 놀이기구 III
놀이공원 놀이기구를 타기 위해서는 특별한 조건이 있습니다. 성별이 여자이고 키가 150cm 이상, 170cm 미만이면 탈 수 있습니다. 또는 키가 5의 배수이면 탈 수 있습니다. 다음 실행 결과 예시를 보고 놀이기구를 탈수 있는 판별 기준을 알려주는 코드를 작성하세요.<br>
실행결과
```
키를 입력하세요:174
성별을 입력하세요:여자
탈 수 없어요

키를 입력하세요:170
성별을 입력하세요:여자
탈 수 있어요

키를 입력하세요:145
성별을 입력하세요:여자
탈 수 있어요

키를 입력하세요:170
성별을 입력하세요:남자
탈 수 없어요
```

In [60]:
high = float(input("키를 입력하세요: "))
sex = str(input("성별을 입력하세요: "))

if sex == "여자" and 150 <= high <170 or high %5 == 0:
    print('탈 수 있어요.')
else:
    print('탈 수 없어요.')

키를 입력하세요: 174
성별을 입력하세요: 여자
탈 수 없어요.

## 20. 터널 통과하기 I
높이가 150cm인 자동차가 있습니다. 목적지까지 가려면 3개의 터널을 지나가야 합니다. 그런데 터널의 높이가 자동차 높이보다 낮거나 같다면 자동차는 지나갈 수 없습니다. 터널의 높이가 차례대로 3개 주어질 때 자동차 통과할 수 있는지 없는지를 판별하는 코드를 작성하세요.<br>
실행결과
```
165 149 155
터널 통과 불가능

158 151 170
터널 통과 가능
```

In [70]:
tunnel_high = list(map(float, input("터널 높이 3개를 입력하세요: ").split()))

if tunnel_high <= 150:
    print('터널 통과 불가능')

터널 높이 3개를 입력하세요: 165 149 155

TypeError: '<=' not supported between instances of 'list' and 'int'

## 21. 올해는 윤년일까? Yes or No
2월이 29일까지 있는 연도를 윤년이라고 합니다. 윤년의 조건은 연도가 4의 배수이면서 100의 배수가 아니거나 400의 배수인 경우입니다. 연도를 입력하고 입력한 연도가 윤년인지 아닌지 판별하는 코드를 작성하세요.<br>
실행결과
```
연도를 입력하세요:2345
2345 년은 윤년이 아닙니다

연도를 입력하세요:2020
2020 년은 윤년입니다
```

2020
2020는 윤년입니다.

## 22. 주민등록번호 분석기
주민등록번호는 생년월일과 성별 정보를 포함합니다. 801223-1234567는 80년 12월 23일 생일을 의미합니다. 이때 두 번째 숫자 리스트가1 또는 2로 시작하면 1900년대에 출생 사람을 의미하고, 1로 시작하면 남성, 2로 시작하면 여성을 의미합니다. 2000년대 출생한 남성은 3으로 시작하고 여성은 4로 시작합니다.

주민등록번호가 입력되면 다음과 같이 주민등록에 포함된 정보를 출력하도록 코드를 작성하세요. 주민등록번호 입력 시 중간에 하이픈(-)을 포함해 입력합니다.<br>
실행결과
```
주민등록번호 입력:801223-1234567
남자 1980 년 출생

주민등록번호 입력:110503-3456789
남자 2011 년 출생
```

주민등록번호 입력: 801223-1234567
남자 1980년 출생

## 23.‘도, 개, 걸, 윷, 모’ 윷놀이
윷놀이는 4개의 윷을 던져서 뒤집어진 상태에 따라 도, 개, 걸, 윷, 모 5가지 경우로 나누어 말을 이동하는 우리나라 전통 놀이입니다.<br>

---

도: 윷(막대) 1개가 뒤집어진 상태
개: 윷(막대) 2개가 뒤집어진 상태
걸: 윷(막대) 3개가 뒤집어진 상태
윷: 윷(막대) 4개가 뒤집어진 상태
모: 윷(막대) 하나도 뒤집어지지 않은 상태

---

다음과 같이 윷의 결과가 입력되었을 때 윷의 상태를 출력하는 코드를 작성하세요. 0은 윷이 뒤집어 지지 않은 상태이고 1은 윷이 뒤집어진 상태입니다. 윷의 상태를 1과 0으로 입력할 때 공백을 기준으로 입력합니다. 예를 들어 '1 1 1 0'과 같이 입력하면 1이 3개이므로 '걸'을 의미합니다.<br>

결과
```
1 1 1 0
걸
```

1 1 1 1
윳

## 24. 표준 몸무게 알아보기
BMI(Body Mass Index)는 체질량 지수로 비만도를 측정하는 수치입니다. BMI를 구하기 위해서는 키, 실제 몸무게 그리고 표준 몸무게를 알아야 합니다. 표준 몸무게와 BMI를 구하는 공식과 BMI 지수에 따른 비만도 측정 결과는 아래와 같습니다.<br>

---

BMI 지수= 몸무게(kg) / (키(m) * 키(m))<br>

저체중: 18.5 미만<br>
정상: 18.5\~22.9<br>
과체중: 23\~24.9<br>
경도 비만: 25\~29.9<br>
고도 비만: 30 이상

---

예를 들어 키가 185cm이고 몸무게가 80kg이라면 BMI 지수는 24.7이 됩니다. 다음과 같이 키, 몸무게를 차례대로 입력했을 때 BMI 지수에 따른 비만도 판정 결과를 알려주는 코드를 작성하세요.
실행결과
```
185 80
BMI 지수는 23.37472607742878 이고 과체중입니다

170 64
BMI 지수는 22.145328719723185 이고 정상 체중입니다
```

키를 입력하세요. 168
몸무게를 입력하세요64
BMI 지수는 22.67573696145125이고 정상체중 입니다.

## 25. 삼각형 만들기
삼각형은 세 개의 직선으로 만들어집니다. 하지만 삼각형이 만들어지려면 아래와 같은 조건을 만족해야 합니다. 세 개의 직선 길이가 입력으로 주어진다면 삼각형을 만들 수 있는지 아닌지를 판단하는 코드를 작성하세요.<br>
![이미지]()
실행결과
```
3 2 4
삼각형 가능

5 9 3
삼각형 불가
```

# 빛의 속도로 일을 처리하기 - 반복문

## 26. 로켓 발사 I
다음과 같이 1부터 10까지 출력하고 "발사!"라고 출력하는 코드를 for 반복문을 사용해 작성하세요.

실행결과
```
1
2
3
4
5
6
7
8
9
10
발사!
```

## 27. 로켓 발사 II
다음과 같이 1부터 10까지 출력하고 "발사!"라고 출력하는 코드를 while 반복문을 사용해 작성하세요.

실행결과
```
1
2
3
4
5
6
7
8
9
10
발사!
```

## 28. 로켓 발사 10초 전
다음과 같이 숫자를 입력받아 1까지 카운트다운하고 마지막에 “발사!”라고 출력하는 코드를 for 반복문을 사용해 작성하세요.


```
카운트다운 몇 초 전인가요?10
10
9
8
7
6
5
4
3
2
1
발사!
```

## 29. 1부터 100까지 모두 합한 수 I
다음과 같이 1보다 같거나 큰 숫자를 입력받은 뒤 1부터 입력받은 숫자까지의 합을 구하는 코드를 for 반복문을 사용해 작성하세요.

실행결과
```
10
1부터 10 까지 모두 더한 합은 55
```

## 30. 1부터 100까지 모두 합한 수 II
다음과 같이 1보다 같거나 큰 수를 입력받고 1부터 입력받은 수까지의 합을 구하는 코드를 while 반복문을 사용해 코드를 작성하세요

실행결과
```
# 입력
10
# 출력
1부터 10 까지 모두 더한 합은 55
```

## 31. 음수가 나올 때까지 반복하기
다음과 같이 입력된 숫자가 0보다 같거나 큰 숫자이면 입력된 숫자를 출력하도록 반복하고, 음수가 입력되면 프로그램을 종료하는 코드를 while 반복문을 사용해 작성하세요.

실행결과
```
숫자를 입력하세요 10
입력된 숫자는 10
숫자를 입력하세요 7
입력된 숫자는 7
숫자를 입력하세요 100
입력된 숫자는 100
숫자를 입력하세요 -1
종료합니다
```

## 32. 옆으로 출력하기

다음과 같이 1부터 10까지 공백을 포함해서 한 줄로 출력하는 코드를 작성하세요.

실행결과
```
1 2 3 4 5 6 7 8 9 10
```

## 33. “1+2+3+4+5= 15”

다음과 같이 양의 정수 두 개를 입력받아 첫 번째 입력받은 숫자부터 두 번째 입력받은 숫자까지의 합을 구하는 코드를 작성하세요. 단, 두 번째 숫자는 첫 번째 숫자보다 큰 숫자를 입력해야 합니다.

실행결과
```
첫 번째 숫자를 입력하세요1
두 번째 숫자를 입력하세요10
1+2+3+4+5+6+7+8+9+10= 55
```

## 34. 짝수들만 합하기

다음과 같이 양의 정수 두 개를 입력받아 첫 번째 입력받은 숫자부터 두 번째 입력받은 숫자까지 짝수 들만의 합을 구하는 코드를 작성하세요. 단, 두 번째 숫자는 첫 번째 숫자보다 큰 숫자를 입력해야 합니다.

실행결과
```
첫 번째 숫자를 입력하세요1
두 번째 숫자를 입력하세요10
1부터 10까지 짝수들만의 합은 30
```

## 35. for 반복문과 문자열의 만남
다음과 같이 문자열을 입력받아서 문자열에 포함된 문자 중에서 'a' 문자는 제외하고 출력하는 코드를 작성하세요.

실행결과
```
하나의 문자열을 입력하세요:apple makit woojin james sieun
pple mkit woojin jmes sieu
```

## 36. for 반복문과 리스트의 만남
내 친구 이름 명단이 있는 리스트를 활용해 다음과 같이 1번부터 번호를 생성해 친구를 소개하는 문구를 출력하는 코드를 작성하세요.

실행결과
```
1 번 친구 우진 을 소개합니다.
2 번 친구 시은 을 소개합니다.
3 번 친구 메이킷 을 소개합니다.
4 번 친구 지연 을 소개합니다.
5 번 친구 지훈 을 소개합니다.
```

In [7]:
names = ['우진','시은','메이킷','지연','지훈']

## 37. 다음 반복문으로 바로가기(continue)
다음과 같이 1부터 30까지 출력하되 5의 배수는 출력하지 않도록 코드를 작성하세요.

실험결과
```
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29
```

## 38. 반복문 깨고 바로 나가기(break)
다음과 같이 규칙에 따라 숫자가 나열된 것을 수열이라고 합니다. 3부터 시작해서 5씩 더해지는 수열이 있다면 수열의 100번째 숫자는 무엇인지 구하는 코드를 for 반복문을 사용해서 작성하세요.
```
3 8 13 18 23 ...
```
23은 수열의 5번째 숫자입니다.

# 문제 해결 역량 키우기

## 39. 가장 작은 숫자 찾기
세 개의 숫자를 입력받아서 가장 작은 숫자를 출력하는 코드를 작성하세요.

입력결과
```
# 입력
7 3 9
# 출력
3
```

## 40. 터널 통과하기 II
터널을 통과하는 문제를 풀어 봅시다. 아래 예와 같이 첫 번째 줄에는 자동차의 높이를 입력하고 두 번째 줄에는 터널 3개의 높이를 입력합니다.

실행결과
```
150
165 149 155
```
이는 자동차의 높이는 150cm이고, 자동차가 지나가야 할 터널의 높이는 각각 165cm, 149cm, 155cm라는 뜻입니다.
터널 3개의 높이가 하나라도 자동차 높이보다 같거나 낮으면 자동차는 지나갈 수 없습니다. 터널의 높이가 차례대로 3개 주어질 때 자동차가 지나갈 수 있는지 판단해 ‘터널 통과 가능’ 또는 ‘터널 통과 불가능’이라고 출력하고 통과 불가능한 터널의 높이를 모두 출력하는 코드를 작성하세요.

실행결과1
```
# 입력
150
165 149 155

# 출력
터널 통과 불가능
149
```

실행결과2
```
# 입력
155
170 160 150

# 출력
터널 통과 불가능
150
```

실행결과3
```
# 입력
160
170 140 130

# 출력
터널 통과 불가능
140
130
```

## 41. 행운의 숫자 7 모두 찾기
1부터 1000까지의 숫자 중에서 행운의 숫자 7은 몇 번 사용되었는지 알려주는 코드를 작성하려고 합니다. 예를 들어 1부터 20까지의 숫자 중에서 7은 7과 17에서 두 번 사용했습니다. 또한, 77은 7을 두 번 사용한 것이고 777은 세 번 사용한 것입니다.

## 42. 약수 구하기
다음과 같이 자연수 n을 입력받아 n의 양의 약수를 오름차순과 내림차순으로 각각 출력하는 코드를 작성하세요.

실행결과
```
# 입력
12

# 출력
1 2 3 4 6 12
12 6 4 3 2 1
```

## 43. 리스트 최대, 최소, 평균 구하기 I
다음과 같이 정수 n개를 입력받아 입력받은 수들 중에서 최댓값, 최솟값, 평균을 출력하는 코드를 작성하세요.

실행결과
```
# 입력
# 첫째 줄에 입력되는 정수의 개수 n이 주어집니다.
# 둘째 줄에 n개의 정수가 공백으로 구분되어 입력됩니다.
5
3 2 -20 100 35

# 출력
리스트 최댓값 100
리스트 최솟값 -20
리스트 평균값 24.0
```

## 44. 리스트 최대, 최소, 평균 구하기 II

다음과 같이 정수 n개를 입력받아 최댓값, 최솟값, 평균을 구하고 출력하는 코드를 작성하세요. 단, 내장 함수를 사용하지 말고 작성해 보세요. 첫째 줄에 입력되는 정수의 개수 n이 주어지고 둘째 줄에 n개의 정수가 공백으로 구분되어 입력됩니다.

실행결과
```
# 입력
5
3 2 -20 100 35

# 출력
리스트 최댓값 100
리스트 최솟값 -20
리스트 평균값 24.0
```

## 45. 각 자릿수의 합 구하기 I
다음과 같이 자연수가 입력되면 자연수의 각 자릿수의 합을 구하는 코드를 작성하세요. 예를 들어 1234가 입력되었다면 각 자릿수의 합은 1+2+3+4 = 10 입니다.

실행결과
```
# 입력
1234

# 출력
10
```

## 46. 각 자릿수의 합 구하기 II
자연수가 입력되면 자연수의 각 자릿수의 합을 구하는 코드를 작성하세요. 예를 들어 1234가 입력되었다면 각 자릿수의 합은 1+2+3+4를 하여 10입니다. 나머지 연산자 %와 몫 연산자 //를 사용해 <문제 76>과는 다른 방법으로 문제를 해결하세요.

## 47. 카이사르 암호
카이사르의 암호는 알파벳 순서대로 세 글자를 뒤로 밀어서 암호문을 만들고, 세 글자를 앞으로 당겨서 암호를 푸는 방식입니다. 예를 들어 'ABCXYZ'를 카이사르 암호 방식을 사용해 암호화하면 'DEFABC'가 됩니다. 다음과 같이 문자열을 입력받아 카이사르 암호 방식을 사용해 암호문을 생성하고 출력하는 코드를 작성하세요.

실행결과
```
# 입력
MAKIT

# 출력
PDNLW
```

ascii 문자를 표현하는 코드<br>
A-Z: 65-90 <br>
a-z: 97-122 <br>
ord(값): 문자를 ASCII 코드로 변경하는 함수 <br>
chr(숫자): ASCII 코드를 문자로 변경하는 함수

## 48. 소문자는 대문자로, 대문자는 소문자로 변환하기
다음과 같이 영어 문장을 입력받아 대문자는 소문자로 변환하고, 소문자는 대문자로 변환하는 코드를 작성하세요.

실행결과
```
# 입력
Makit Code Lab !!

# 출력
mAKIT cODE lAB !!
```

다음과 같이 양의 정수 두 개를 입력받아 첫 번째 입력받은 숫자부터 두 번째 입력받은 숫자까지 짝수 들만의 합을 구하는 코드를 작성하세요. <br>
단, 두 번째 숫자는 첫 번째 숫자보다 큰 숫자를 입력해야 합니다.<br>
두 번째 숫자가 첫번째 숫자보다 작으면 다시 입력을 받도록 해주세요.<br>
입력이 올바르게 될때 까지 무한 반복 입력<br>
결과를 출력하면 정지

실행결과<br>

첫 번째 숫자를 입력하세요1<br>
두 번째 숫자를 입력하세요10 <br>
1부터 10까지 짝수들만의 합은 30 <br>

첫 번째 숫자를 입력하세요: 1
두 번째 숫자를 입력하세요: 10
1부터 10까지 짝수들만의 합은 30 입니다.