# 딕셔너리 사용하기
* dict 타임, json 타입이라고도 함
* web에서 자료를 주고 받을 때 주로 사용하는 형식(API)
* key : value 쌍으로 이루어진 자료형
* key를 호출하면 value가 나온다.
* key는 list, dict를 제외한 자료형이 올 수 있다.
* value에는 모든 자료형이 올 수 있다.

# 딕셔너리 만들기
* 중괄호 안에 key:value 쌍으로 만든다.
* 빈 딕셔너리 생성 가능 {}
* dict() 함수를 이용해서 대량의 딕셔너리 생성 가능

In [4]:
d = {'년월' : '20250924','국가':'미국','방문자수':1000}
d

{'년월': '20250924', '국가': '미국', '방문자수': 1000}

In [5]:
d['년월']

'20250924'

In [7]:
d2 = {}
print(d2, type(d2))

{} <class 'dict'>

# dict key의 자료형
* list, dict를 제외한 나머지 자료형으로 만듦.
* 정수, 실수, 문자열, 블린, 튜블

In [12]:
d3 = {'백':100, 100:"백", 3.5:[3.5, 3.7],False:0, (0,"서울"):'강남구'}
d3

{'백': 100, 100: '백', 3.5: [3.5, 3.7], False: 0, (0, '서울'): '강남구'}

In [11]:
d4 = {'백':100, 100:"백", 3.5:[3.5, 3.7],False:0, (0,"서울"):'강남구', [1,2]:123}
d4

TypeError: unhashable type: 'list'

In [14]:
d3['백']

100

In [15]:
d3[100]

'백'

In [16]:
d3[3.5]

[3.5, 3.7]

In [17]:
d3[False]

0

In [18]:
d3[0,"서울"]

'강남구'

# 딕셔너리 value의 자료형
* value는 모든 자료형이 올 수 있다.

In [19]:
d4 = {"정수":100, "실수":3.5, "문자열":"딕셔너리의 값",
      "리스트":[1,2,3,4], "튜플":(5,6,7,8), "딕셔너리":{'key':'value'},
     "블린":True}
d4

{'정수': 100,
 '실수': 3.5,
 '문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True}

In [21]:
d4['정수']

100

In [22]:
d4['실수']

3.5

In [24]:
d4['문자열']

'딕셔너리의 값'

In [25]:
d4["리스트"]

[1, 2, 3, 4]

In [26]:
d4["튜플"]

(5, 6, 7, 8)

In [27]:
d4["딕셔너리"]

{'key': 'value'}

In [28]:
d4["블린"]

True

# 빈 딕셔너리 만들기
* 변수 = {}
* 변수 = dict()

In [29]:
d5 = {}
print(d5, type(d5))

{} <class 'dict'>

In [30]:
d6 = dict()
print(d6, type(d6))

{} <class 'dict'>

# 딕셔너리에 자료 추가하기
* 변수['key'] = value
* 이미 key가 있는 경우에는 자료가 수정됨, 나중에 입력한 자료로 덮어쓰기 됨.

In [31]:
d5

{}

In [32]:
d5['번호']=0
d5

{'번호': 0}

In [34]:
d5['리스트']=[1,2,3]
d5

{'번호': 0, '리스트': [1, 2, 3]}

In [36]:
# 이미 키가 있는 경우 나중 값으로 대체
d5['리스트']=[1,2,3,4]
d5

{'번호': 0, '리스트': [1, 2, 3, 4]}

In [37]:
d7 = {'번호':0, "이름":"홍길동", "나이":35, 
      '번호':1, "이름":"둘리", "나이":15}
d7

{'번호': 1, '이름': '둘리', '나이': 15}

# dict 함수를 이용해서 dict 만들기
* dict(key1:value1, key2:value2, key3:value3)
* key 부분에 ""(따옴표)를 사용하지 않는다.
* key는 모두 문자형으로 변환된다.
* value가 문자형이면 반드시 ""가 필요하다.

In [44]:
dict_ex1 = dict(정수=100, 실수=3.5, 문자="문자열", 리스트=[1,2,3], 튜플=(4,5,6),
                딕셔너리={"key":"value})

SyntaxError: EOL while scanning string literal (1152658814.py, line 2)

* dict([(key1, value1),(key2, value2),(key3, value3)])
* 리스트 안에 key, value 쌍으로 된 튜플을 넣어서 만듦
* key는 자료형에 맞춰서 작성

In [65]:
dict_ex2 = dict([(1,10),(3.5,"3.5"),("문자열","문자열입니다."),
               ("list",[1,2,3]), ("tuple",(4,5,6)),
               ("dict",{'key':'value'})])
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 2, 3],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'}}

In [50]:
dict(zip([key1, key2, key3], [value1, value2, value3]))
* key 묶음의 리스트와 value 묶음 리스트를 zip함수로 합친 후 dict 생성
* key 묶음의 요소 개수와 value 묶음의 요소 개수가 일치해야 함

SyntaxError: invalid syntax (2504709510.py, line 2)

In [48]:
#zip함수 예시
for i in [1,2,3]:
    print(i, end=" ")

1 2 3

In [49]:
for i in zip([1,2,3], [4,5,6], [7, 8]):
    print(i, end=" ")

(1, 4, 7) (2, 5, 8)

In [54]:
dict_ex3 = dict(zip(['정수','실수','문자열'],[10,12.5,"문자열입니다."]))
dict_ex3

{'정수': 10, '실수': 12.5, '문자열': '문자열입니다.'}

# 딕셔너리에 값 입력하고, 수정하고 삭제하기

In [66]:
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 2, 3],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'}}

In [68]:
dict_ex2['new key']="새로운 데이터"
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 2, 3],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'},
 'new key': '새로운 데이터'}

In [ ]:
# 딕셔너리 안에 있는 list value에 새로운 값 추가, 수정, 삭제

In [69]:
dict_ex2['list'].append(4)
dict_ex2['list']

[1, 2, 3, 4]

In [70]:
max(dict_ex2['list'])

4

In [71]:
dict_ex2['list'].insert(2,30)
dict_ex2['list']

[1, 2, 30, 3, 4]

In [72]:
dict_ex2['list'][2]=33
dict_ex2['list']

[1, 2, 33, 3, 4]

In [74]:
dict_ex2[1] + float(dict_ex2[3.5])

13.5

In [83]:
dict_ex2['list'].pop()
dict_ex2['list']

[1]

In [82]:
dict_ex2['list'].remove(2)

ValueError: list.remove(x): x not in list

In [80]:
dict_ex2['list']

[1, 33]

In [81]:
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 33],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'},
 'new key': '새로운 데이터'}

In [89]:
dict_ex2['dict']['key2']='value2'
dict_ex2['dict']

{'key': 'value', 'key2': 'value2'}

In [94]:
del dict_ex2['dict']['key2']

KeyError: 'key2'

In [95]:
# pop()을 이용해서 삭제
dict_ex2.pop('new key')

'새로운 데이터'

In [97]:
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'}}

In [98]:
dict_ex2.pop('문자열')
dict_ex2

{1: 10, 3.5: '3.5', 'list': [1], 'tuple': (4, 5, 6), 'dict': {'key': 'value'}}

In [100]:
# 딕셔너리에서 pop()로 삭제할 때는 반드시 key를 넣어줘야 한다.
dict_ex2.pop()
dict_ex2

TypeError: pop expected at least 1 argument, got 0

# 딕셔너리 안에 특정 key가 있는지 확인하기
* in, not in

In [101]:
'정수' in dict_ex1

NameError: name 'dict_ex1' is not defined

# 딕셔너리 안에 key가 몇 개 있는지 확인하기
* len()
* key의 갯수만 출력
* 가장 외부의 key 갯수만 카운트 함, 내부 딕셔너리의 key는 따로 떠내서 확인해야함

In [105]:
data = {'info':[{'name':'alice', 'scores':(95,88,92)},
                {'name':'bob', 'scores':(78,85,89)}],
       'extra':{'hobbies':['leading','cording'],
                'location':('seoul','busan')}}
data

{'info': [{'name': 'alice', 'scores': (95, 88, 92)},
  {'name': 'bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['leading', 'cording'], 'location': ('seoul', 'busan')}}

In [106]:
len(data)

2

In [109]:
len(data['info'][0])

2

In [112]:
data['info'][0]['scores']

(95, 88, 92)

In [114]:
# dict - list - dict - tuple - int
data['info'][0]['scores'][0]

95

# 딕셔너리 함수 사용하기

## setdefault(ket,value) 딕셔너리에 자료 추가
* 딕셔너리에 key와 value를 추가
* key가 중복되면 나중에 추가하는 값을 무시함(원래 자료 보존)
  * 원래 key는 중복되면 나중값 적용
* key만 넣고 value를 생략하면 자동으로 'None'이 입력됨

In [115]:
d

{'년월': '20250924', '국가': '미국', '방문자수': 1000}

In [117]:
d['년월'] = '20240924'
d

{'년월': '20240924', '국가': '미국', '방문자수': 1000}

In [121]:
# 기존에 key가 있는 경우, 기존 값 유지
d.setdefault('년월',20250924)
d

{'년월': '20240924', '국가': '미국', '방문자수': 1000}

In [122]:
d.setdefault('날씨','맑음')
d

{'년월': '20240924', '국가': '미국', '방문자수': 1000, '날씨': '맑음'}

In [124]:
for i in range(1,11):
    d.setdefault('숫자',[]).append(i)

In [125]:
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 1000,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

## update(key=value)
* 기존에 key가 있는 경우 값을 새로운 값으로 update
* 기존에 key가 없는 경우 새로운 key와 value 생성
* key 부분에는 "",''를 사용하지 않는다.
* key 부분에는 문자형 key만 올 수 있다.
* update는 문자형 key만 업데이트 가능

In [126]:
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 1000,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [128]:
d.update(방문자수=500)
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [130]:
d.update(바람='강함')
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '바람': '강함'}

In [131]:
# 기존에 key가 없어서 새로 추가하는 경우 key 부분에는 문자형 key만 올 수 있다.
d.update(100='백')
d

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2659136881.py, line 1)

In [132]:
d.update(백='백')
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '바람': '강함',
 '백': '백'}

In [133]:
d[3]=300
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '바람': '강함',
 '백': '백',
 3: 300}

In [134]:
d.update(3='삼백')
d

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (408612612.py, line 1)

# 딕셔너리에서 value를 가져오는 함수 .get()
* 딕셔너리에서 value를 보고 싶을 때는 key 호출
* 만약, 딕셔너리 안에 key가 없는데 호출 시 오류 발생
* .get('key',"key가 없을때 출력할 내용") key가 없어도 오류 발생 X, 기본값 출력
* 딕셔너리 내에 key가 있다없다를 반복하는 경우 오류 방지

In [135]:
d['바람']

'강함'

In [136]:
d['강수량']

KeyError: '강수량'

In [139]:
d.get('강수량','해당 key 없음')

'해당 key 없음'

# 딕셔너리에서 key, value, (key,value)를 가져오는 함수
* keys(): 딕셔너리에서 key만 출력
* values(): 딕셔너리에서 value만 출력
* items(): 딕셔너리에서 key,value를 튜플 묶음 형태로 출력(key,value)
* 위의 3함수의 결과를 list()로 형변환을 해주면 list처럼 사용 가능

In [140]:
data

{'info': [{'name': 'alice', 'scores': (95, 88, 92)},
  {'name': 'bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['leading', 'cording'], 'location': ('seoul', 'busan')}}

In [145]:
keys=data.keys()
keys

dict_keys(['info', 'extra'])

In [143]:
keys[0]

TypeError: 'dict_keys' object is not subscriptable

In [149]:
keys=list(data.keys())
print(type(data.keys()), type(list(data.keys())), type(keys))

<class 'dict_keys'> <class 'list'> <class 'list'>

In [153]:
list(data['info'][0].keys())[1]

'scores'

In [155]:
# values
data.values()

dict_values([[{'name': 'alice', 'scores': (95, 88, 92)}, {'name': 'bob', 'scores': (78, 85, 89)}], {'hobbies': ['leading', 'cording'], 'location': ('seoul', 'busan')}])

In [156]:
values=data.values()

In [159]:
values=list(values)
values

[[{'name': 'alice', 'scores': (95, 88, 92)},
  {'name': 'bob', 'scores': (78, 85, 89)}],
 {'hobbies': ['leading', 'cording'], 'location': ('seoul', 'busan')}]

In [162]:
values[0][1].values()

dict_values(['bob', (78, 85, 89)])

In [163]:
# items는 (key, value) 형식으로 출력
data.items()

dict_items([('info', [{'name': 'alice', 'scores': (95, 88, 92)}, {'name': 'bob', 'scores': (78, 85, 89)}]), ('extra', {'hobbies': ['leading', 'cording'], 'location': ('seoul', 'busan')})])

In [165]:
items = list(data.items())
items

[('info',
  [{'name': 'alice', 'scores': (95, 88, 92)},
   {'name': 'bob', 'scores': (78, 85, 89)}]),
 ('extra',
  {'hobbies': ['leading', 'cording'], 'location': ('seoul', 'busan')})]

In [166]:
items[0]

('info',
 [{'name': 'alice', 'scores': (95, 88, 92)},
  {'name': 'bob', 'scores': (78, 85, 89)}])

In [167]:
items[1]

('extra', {'hobbies': ['leading', 'cording'], 'location': ('seoul', 'busan')})

In [168]:
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '바람': '강함',
 '백': '백',
 3: 300}

In [169]:
d.keys()

dict_keys(['년월', '국가', '방문자수', '날씨', '숫자', '바람', '백', 3])

In [170]:
d.values()

dict_values(['20240924', '미국', 500, '맑음', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], '강함', '백', 300])

In [171]:
d.items()

dict_items([('년월', '20240924'), ('국가', '미국'), ('방문자수', 500), ('날씨', '맑음'), ('숫자', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), ('바람', '강함'), ('백', '백'), (3, 300)])

In [172]:
for key in d.keys():
    print(key)

년월
국가
방문자수
날씨
숫자
바람
백
3

In [173]:
for key in d.values():
    print(key)

20240924
미국
500
맑음
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
강함
백
300

In [174]:
for key in d.items():
    print(key)

('년월', '20240924')
('국가', '미국')
('방문자수', 500)
('날씨', '맑음')
('숫자', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
('바람', '강함')
('백', '백')
(3, 300)

In [179]:
for key,value in d.items():
    print("key: ",key,"value: ", value)

key:  년월 value:  20240924
key:  국가 value:  미국
key:  방문자수 value:  500
key:  날씨 value:  맑음
key:  숫자 value:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
key:  바람 value:  강함
key:  백 value:  백
key:  3 value:  300

In [184]:
for item in d.items():
    print(item)

('년월', '20240924')
('국가', '미국')
('방문자수', 500)
('날씨', '맑음')
('숫자', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
('바람', '강함')
('백', '백')
(3, 300)