# 함수 만들기
* print(), split(), input() => 함수
* 함수의 괄호 안에 값을 넣으면 출력, 입력, 변형 작업을 해줌
* function => 기능 => 만들어 놓은 도구
* 자주 사용하는 기능을 미리 만들어서  **반복 재사용**을 할 수 있게 만든 것

In [3]:
# 리스트의 자료에 10을 곱해서 다시 리스트로 출력하세요.
# result = [10, 20, 30, 40]
l = [1, 2, 3, 4]
result = []
for i in l:
    result.append(i*10)
result

[10, 20, 30, 40]

In [4]:
# 자료를 넣으면 10을 곱해서 출력하는 함수
def mul10(num):
    result_in_func = []
    for i in num:
        result_in_func.append(i*10)
    print(result_in_func)
    return(result_in_func)

In [5]:
mul10(l)

[10, 20, 30, 40]

[10, 20, 30, 40]

# 함수 만드는 법
def 함수이름(변수1, 2, ...):<br>
____실행코드<br>
____return 반환할 값(결과)

In [7]:
def hello():
    print("Hello pythin 함수 만들기")

In [8]:
hello()

Hello pythin 함수 만들기

# 함수 호출 순서
* 함수는 호출하기 전에 반드시 먼저 정의되어야하고(만들기)
* 함수 정의가 함수 실행보다 위에 있어야한다.

In [10]:
hello2()

Hello2 pythin 함수 만들기

In [9]:
def hello2():
    print("Hello2 pythin 함수 만들기")

# 함수의 매개변수
* 함수 () 안에 받는 값을 저장하는 함수
* ()안에 값을 받아서 **함수 내에서 처리할때 사용**
* 함수에서 사용하는 매개변수는 함수 외부에서 사용 불가

In [11]:
# 매개변수 1개짜리 함수
# 원의 넓이를 구하는 함수 - 반지름 * 반지름 * 3.14
def circle(c):
    print(f"반지름의 길이가 {c}인 원의 넓이는: {c*c*3.14}")

In [12]:
circle(3)

반지름의 길이가 3인 원의 넓이는: 28.26

* 매개변수 2개짜리 함수
* 2개 자료를 가지고 사칙연산 하는 함수

In [191]:
def add(a, b):
    return a + b

In [192]:
add(3,5)

8

In [193]:
# 매개변수가 2개인데 자료를 1개만 넣으면? TypeError
# 매개변수와 입력자료 갯수는 동일해야 한다.
add(3)

TypeError: add() missing 1 required positional argument: 'b'

# 함수값 반환 return
* 함수에 return이 없으면 함수가 실행된 후 반한되는 값은 none
* 함수 실행시 print가 되는 내용은 단지 화면상에 출력했을 뿐이다.

In [19]:
def add_noreturn(a, b, c):
    print(a + b + c)

In [20]:
def add_return(a, b, c):
    return a + b + c

In [21]:
add_noreturn(10,20,30)

60

In [22]:
add_return(10,20,30)

60

In [23]:
result1 = add_noreturn(10,20,30)
print(result1)

60
None

In [24]:
result2 = add_return(10,20,30)
print(result2)

60

# 리턴 값이 여러개인 함수

In [25]:
def add_sub(a,b):
    add = a + b
    sub = a - b
    return add, sub

In [26]:
result3 = add_sub(10,20)

(30, -10)

In [28]:
result3_a, result3_b = add_sub(10,20)
print(result3_a, result3_b, type(result3_a), type(result3_b))

30 -10 <class 'int'> <class 'int'>

* num_maker - 정방향, 역방향 리스트가 출력되는 함수
* 3개의 숫자를 입력받아서 숫자 리스트를 만들고 오름차순 정렬 반환
* 만들어진 리스트에 +3 을 할 결과를 리스트로 만들고 내림차순 정렬 반환
* range(a, b, c)
* return list_result, reversed_ist

In [196]:
def num_maker(start, end, step):
    list_result = list(range(start, end+1, step))
    reversed_result = []
    for i in list_result:
        reversed_result.append(i+3)
    return list_result, reversed_result[::-1]

In [197]:
num_maker(1, 10, 1)

([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [13, 12, 11, 10, 9, 8, 7, 6, 5, 4])

In [198]:
def num_maker(start, end, step):
    list_result = list(range(start, end+1, step))
    reversed_result = [i+3 for i in list_result]
    return list_result, reversed_result[::-1]

In [199]:
num_maker(1, 10, 1)

([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [13, 12, 11, 10, 9, 8, 7, 6, 5, 4])

# 중간에 함수를 종료시키기 위한 용도의 return
* return 을 반복문의 break처럼 활용 가능
* 함수 내에서 return이 실행되게 되면 함수는 종료

* 1-100까지 숫자 중에서 짝수만 더해서 출력하시오.
* 단, 숫자가 50 이상이 되면 멈추고 결과를 리턴하세요.
* 중간에 더해지는 과정도 출력하세요.
* even() 를 작성하세요.

In [33]:
num = list(range(1,101))

In [200]:
hap = 0
for i in num:
    if i >= 50:
        break
    else:
        if i % 2 == 0:
            hap += i
            print(hap, end=" ")
print(hap)

2 6 12 20 30 42 56 72 90 110 132 156 182 210 240 272 306 342 380 420 462 506 552 600 600

In [201]:
def even(num):
    hap = 0
    for i in num:
        if i >= 50:
            break
        else:
            if i % 2 == 0:
                hap += i
                print(hap, end=" ")
    return hap

In [202]:
result = even(num)
print(result)

2 6 12 20 30 42 56 72 90 110 132 156 182 210 240 272 306 342 380 420 462 506 552 600 600

In [203]:
def even2(num):
    hap = 0
    for i in num:
        if i >= 50:
            return hap
            print("50 초과")
        else:
            if i % 2 == 0:
                hap += i 
                print(hap, end=" ")

In [204]:
even2(num)

2 6 12 20 30 42 56 72 90 110 132 156 182 210 240 272 306 342 380 420 462 506 552 600

600

* 점수 입력받아서 A학점 - F학점 출력

In [46]:
def student_grade(score):
    result = " "
    if 91 <= score <= 100:
        return "A학점"
    elif 81 <= score <= 90:
        return "B학점"
    elif 71 <= score <= 80:
        return "C학점"
    elif 61 <= score <= 70:
        return "D학점"
    elif score <= 70:
        return "F학점"
    return result

In [47]:
score = int(input("점수를 입력했주세요"))
student_grade(score)

점수를 입력했주세요17

'F학점'

# 인수: 함수에 집어넣는 자료
## 1) 위치인수(positional argument)
* 위치가 고정된 인수
* 순서가 바뀌거나 갯수가 달라지면 오류, 엉뚱한 값 나옴

## 2) 가변위치인수(args, Variable-length Arguments)
* 여러 개의 자료를 넣을 수 있는 인수, 제한 없음
* print(자료1, 자료2, 자료3)

## 3) 키워드인수(keyword arguments)
* 매개변수에 이름을 명시해서 인수를 넣어주는 것
* sep=" ", end=" "
* 위치가 변경되어도 상관 없음

## 4) 가변키워드인수(kwargs, Variable-length keyword arguments)
* 키워드인수를 숫자 제한 없이 넣는 경우 사용
* 함수의 매개변수 넣는 곳에서 가장 마지막에 위치해야 함

In [48]:
print(1,2,3, end=" ", sep=", ")
print(1,2,3, end=" ")

1, 2, 3 1 2 3

# 위치인수(positional argument)
* 넣는 순서와 갯수를 일치시켜야만 함

In [49]:
def print_nums(a, b, c):
    print(a, b, c)

In [51]:
# 갯수 불일치 오류
print_nums(1,5)
print_nums(1,5,6,7)

TypeError: print_nums() missing 1 required positional argument: 'c'

In [55]:
l1 = [1, 2, 3]
print_nums(l1)

TypeError: print_nums() missing 2 required positional arguments: 'b' and 'c'

# 함수 안에서 리스트를 반복문 없이 풀기 *list, *tuple

In [56]:
print_nums(*l1)

1 2 3

# 가변위치인수(args, Variable-length Arguments)
* 자료의 갯수를 제한 없이 넣을 수 있는 인수
* 함수안의 매개변수 자리에 *args 라고 만들어 줌
* args는 관용적 표현, 변수명은 아무거나 주고 앞에 \*만 붙이면 됨
* 자료를 튜플로 변환해서 받는다.

In [59]:
def print_nums2(*nums):
    print(nums)
    return nums

In [205]:
result = print_nums2(1,2,3,4,5,6,7,8,9, 10)
print(result, type(result))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>

* 여러개의 숫자를 입력하면 총합을 구해주는 함수

In [61]:
def my_sum(*args):
    hap = 0
    for i in args:
        hap += i
    return hap

In [62]:
my_sum(1,2,3,4,5,6,7,8,9,10)

55

In [63]:
h = list(range(1,101))
my_sum(*h)

5050

In [64]:
def my_sum(*args):
    return sum(args)

In [65]:
my_sum(*h)

5050

# 위치인수와 가변위치인수 동시에 받기
* 위치인수와 가변인수를 동시에 받을 때는 반드시 **위치인수**가 먼저 와야 한다.
* def add(a, *args): OK
* def add(*args, a): NO <br>
-> args가 튜플이라 모든 자료 다 받아감

In [66]:
# 정수 1개와 리스트를 입력받아 리스트의 요소에 정수를 곱하는 함수
def muls(*args, a):
    print(args, a)
    result = []
    for num in args:
        result.append(arge*a)
    print(result)

In [68]:
muls(*h, 2)

TypeError: muls() missing 1 required keyword-only argument: 'a'

In [77]:
# 정수 1개와 리스트를 입력받아 리스트의 요소에 정수를 곱하는 함수
def muls(a, *args):
    print(a, args)
    result = []
    for num in args:
        result.append(num*a)
    print(result)

In [78]:
muls(2, *h)

2 (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100)
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

# 키워드인수(keyword arguments)
* 인수를 함수에 입력할 때 매개변수 이름을 직접 입력하고 자료를 할당하는 것.
* print(sep="-", end="\r")

* 개인정보를 출력하는 함수

In [79]:
def personal_info(name, age, address):
    print(f"이름: {name}")
    print(f"나이: {age}")
    print(f"주소: {address}")

In [80]:
personal_info("홍길동", 30, "서울시")

이름: 홍길동
나이: 30
주소: 서울시

In [81]:
personal_info(30, "홍길동", "서울시")

이름: 30
나이: 홍길동
주소: 서울시

In [82]:
personal_info(address='고양시', name='둘리', age=10)

이름: 둘리
나이: 10
주소: 고양시

# 키워드 인수는 기본값 설정 가능

In [83]:
def personal_info2(name, age, address='안알랴줌'):
    print(f"이름: {name}")
    print(f"나이: {age}")
    print(f"주소: {address}")

In [84]:
personal_info2("홍길동", 30)

이름: 홍길동
나이: 30
주소: 안알랴줌

# 매개변수에 기본값을 설정했을 경우 위치

In [86]:
def personal_info2(name, *nums, address='안알랴줌'):
    print(f"이름: {name}")
    print(f"좋아하는 숫자: {nums}")
    print(f"주소: {address}")

In [87]:
personal_info2("홍길동", 1,2,3,4,5,6,7, address='서울')

이름: 홍길동
좋아하는 숫자: (1, 2, 3, 4, 5, 6, 7)
주소: 서울

In [88]:
personal_info2("홍길동", 1,2,3,4,5,6,7)

이름: 홍길동
좋아하는 숫자: (1, 2, 3, 4, 5, 6, 7)
주소: 안알랴줌

In [91]:
#기본값이 적용된 키워드 인수는 함수으 가장 마지막에 넣어야한다. 
def personal_info2(name, address='안알랴줌', *nums):
    print(f"이름: {name}")
    print(f"좋아하는 숫자: {nums}")
    print(f"주소: {address}")

In [90]:
personal_info2("홍길동", 1,2,3,4)

이름: 홍길동
좋아하는 숫자: (2, 3, 4)
주소: 1

# 가변키워드인수(kwargs, Variable-length keyword arguments)
* def 함수명(**kwargs)
* 입력받는 자료가 address="안알랴줌" 변수명=자료형태인 것
* 키워드 가변인수는 함수 내에서 dict로 변환되어 사용된다.

In [94]:
def personal_info3(**kwargs):
    print(kwargs, type(kwargs))
    key=list(kwargs.keys())
    value=list(kwargs.values())
    return key, value

In [95]:
personal_info3(name="홍길동", age=40, address="서울")

{'name': '홍길동', 'age': 40, 'address': '서울'} <class 'dict'>

(['name', 'age', 'address'], ['홍길동', 40, '서울'])

# 위치인수와 키워드 가변인수 같이 사용하기
* 위치인수 다음에 키워드 가변인수가 와야한다.

In [101]:
def personal_info4(num, **kwargs):
    print(kwargs, type(kwargs))
    key=list(kwargs.keys())
    value=list(kwargs.values())
    print(num)
    print(key)
    print(value)
    return key, value

In [100]:
personal_info4(1, address="서울시", name="홍길동")

{'address': '서울시', 'name': '홍길동'} <class 'dict'>
1
['address', 'name']
['서울시', '홍길동']

(['address', 'name'], ['서울시', '홍길동'])

In [102]:
# 가변키워드인수는 반드시 위치인수보다 뒤에 와야한다.
def personal_info5(**kwargs, num):
    print(kwargs, type(kwargs))
    key=list(kwargs.keys())
    value=list(kwargs.values())
    print(num)
    print(key)
    print(value)
    return key, value

SyntaxError: invalid syntax (2868794774.py, line 2)

# 가변인수와 가변키워든인수 함께
* 가변인수 => 키워드 가변인수 순으로 쓴다.
* def변수명(*args, \**kwargs)

In [107]:
def my_print(*args, **kwargs):
    print(args, kwargs)
    print(*args, **kwargs)

In [108]:
my_print(1,2,3, sep="||", end="!!")

(1, 2, 3) {'sep': '||', 'end': '!!'}
1||2||3!!

In [ ]:
def my_print(*args, **kwargs):
    args: kwargs)
    print(*args, **kwargs)

# 위치인수, 가변위치인수, 키워드인수, 가변키워드인수, 기본값이 설정된 키워드 인수 같이 쓰기
* 위치인수 => 가변위치인수 => 기본값이 설정된 키워드인수 => 키워드 가변인수

In [109]:
def personal_info6(index, adderess="비공개", *args, **kwargs):
    print(f"idx: {idx}")
    print(f"adderess: {adderess}")
    print(f"*args: {args}")
    print(f"*kwargs: {kwargs}")

In [ ]:
def personal_info7(index, adderess="비공개", *args, **kwargs):
    print(f"idx: {idx}")
    print(f"adderess: {adderess}")
    print(f"*args: {args}")
    print(f"*kwargs: {kwargs}")

In [110]:
personal_info7(1,2,3,40,50, 학교="구름대학교", 전공="핀테크서비스기획")

NameError: name 'personal_info7' is not defined

# 함수의 doc sting
* 함수 내부에 함수에 대한 설명을 적어놓는 것
* """ """ 안에 작성한다.
* 생략 가능
* print(함수이름.\__doc\__)
* help(함수이름)

In [111]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [112]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [113]:
help(personal_info7)

NameError: name 'personal_info7' is not defined

In [114]:
def add(a,b):
    """
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
    """
    return a + b

In [115]:
help(add)

Help on function add in module __main__:

add(a, b)
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [117]:
print(add.__doc__)

    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

# 람다 표현식(lambda expression)
* 익명함수(함수 이름이 없음)
* 간단한 함수를 작성하거나 다른 함수의 인수로 함수를 넣을 때 사용
* 사용 후 메모리에서 삭제
* lambda 매개변수: return 할 값, 계산식
* (lambda x : x + 10)(5)
* plus_five = lambda x : x + 5
* plus_five(5) => lambda 함수를 변수에 저장하는 것은 지양 => def plus_five()로 만드는 것이 좋다.

In [118]:
# 자료 1개를 입력받아 10을 더해 리턴하는 함수
def plus_ten(x):
    return x + 10

In [119]:
plus_ten(5)

15

In [120]:
(lambda x : x + 10)(5)

15

* 1에서 10까지 수 중에서 3의 배수만 문자열로 바꿔서 리스트로 출력하세요.

In [121]:
def tostr(x):
    result = []
    for i in x:
        if i % 3 == 0:
            result.append(str(i))
        else:
            result.append(i)
    return result

In [122]:
tostr(list(range(1,11)))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [128]:
x = list(range(1,11))
result = [str(i) if i % 3 == 0 else i for i in x]
result

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

* map(함수, list/tuple)

In [137]:
list(map((lambda x: str(x) if x %3 == 0 else x),([1,2,3,4,5,6,7,8,9,10])))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [138]:
tostr=(lambda x: str(x) if x %3 == 0 else x)

In [143]:
list(map(int, input().split()))

1 2 3 4 5

[1, 2, 3, 4, 5]

# lambda 함수도 매개변수를 여러개 사용 가능

In [145]:
a = [1,2,3,4,5]
b = [2,4,6,8,10]
c = [3,6,9,12,15]

In [151]:
for x,y,z in zip(a,b,c):
    print(x,y,z,":", x+y+z)
    result.append(x+y+z)
result

1 2 3 : 6
2 4 6 : 12
3 6 9 : 18
4 8 12 : 24
5 10 15 : 30

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10, 6, 12, 18, 24, 30]

In [154]:
list(map((lambda x,y,z: x+y+z), a,b,c))

[6, 12, 18, 24, 30]

# 예외처리 try except
* 예외: 프로그램 실행 중에 발생할 수 있는 오류
* 3/0: ZeroDivisionError => 숫자를 0으로 나눌 수 없기 때문에 나는 에러
* try-except 구문을 사용하면 예외상황에서도 프로그램이 중단되지 않게 할 수 있음

In [155]:
3/0

ZeroDivisionError: division by zero

# 기본 문법

In [156]:
try:
    #예외가 발생할 위험이 있는 코드
except Exception as e:
    print(e)   #어떤 에러인지 출력
    #예외가 발생했을 때 실행할 코드
else:
    #예외가 발생하지 않았을 때 실행할 코드
finally:
    #예외가 발생하든지 안하든지 무조건 실행할 코드

IndentationError: expected an indented block (1102573400.py, line 3)

* 파일 읽어 올 때 encording 에러를 방지하는 예외처리

In [160]:
file = "./data/com_kbstar_kbbank.json"

In [163]:
def read_csv(file):
    with open(file,"r") as f:
        data = f.read()
    return data

In [164]:
read_csv(file)

UnicodeDecodeError: 'cp949' codec can't decode byte 0xec in position 19: illegal multibyte sequence

In [174]:
#try except를 이용해 예외처리
def read_csv(file):
    try:
        with open(file,"r") as f:
            data = f.read()
    except Exception as e:
        print(e)
        with open(file,"r", encoding='utf-8') as f:
            data = f.read()
            
    return data[:10]

In [175]:
read_csv(file)

'cp949' codec can't decode byte 0xec in position 19: illegal multibyte sequence

'[\n    {\n  '

# 예외 처리방법 3가지
* try-except 구문으로 처리
* if else 조건 표현식으로 처리
* get,setdefault 같은 함수를 사용해 처리

* 학생들의 이름 리스트를 받아서 해당 학생의 성적 출력하기

In [178]:
# 학생정보
student_scores = dict(student=dict(alice=85, bob=92, mark=78))
student_scores

{'student': {'alice': 85, 'bob': 92, 'mark': 78}}

In [177]:
# 성적을 조회할 목록
names = ['alice', 'david', 'mark', 'bob']

In [186]:
# 반복문을 이용해 성적 조회
for name in names:
    try:
        score = student_scores['student'][name]
        print(f"{name}:{score}")
    except Exception as e:
        print(f"{name}의 점수는 없습니다.")
    finally:
        print(f"{name}의 점수 조회가 완료되었습니다.")
        print()

alice:85
alice의 점수 조회가 완료되었습니다.

david의 점수는 없습니다.
david의 점수 조회가 완료되었습니다.

mark:78
mark의 점수 조회가 완료되었습니다.

bob:92
bob의 점수 조회가 완료되었습니다.

# 조건표현식을 사용한 예외처리

In [188]:
# 반복문을 이용해 성적 조회
for name in names:
    score = student_scores['student'][name] if name in student_scores['student'].keys() else "키없음"
    print(f"{name}:{score}")

alice:85
david:키없음
mark:78
bob:92

## get 함수를 이용해서 처리하기

In [190]:
for name in names:
    score = student_scores['student'].get(name, f"{name}의 점수는 없습니다.")
    print(f"{name}:{score}")

alice:85
david:david의 점수는 없습니다.
mark:78
bob:92