1.**빈 리스트 `numbers`를 생성하고 출력하세요.**  
   ```python
   []
   ```

In [1]:
numbers = []
numbers

[]

2.**`'numbers'`에 1,2,3,4,5 를 추가하고 출력하세요.**
```python
[1,2,3,4,5]
```

In [2]:
numbers = [1,2,3,4,5]
numbers

[1, 2, 3, 4, 5]

3.**리스트 `numbers`에 숫자 `6`을 추가하고 출력하세요.**  
   ```python
   [1, 2, 3, 4, 5, 6]
   ```

In [3]:
numbers.append(6)
numbers

[1, 2, 3, 4, 5, 6]

4.**`'numbers'` 에 자료 1,2,3,4,5 를 추가하세요. append가 아닌 다른 함수로 추가**
```python
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]
```

In [4]:
numbers.extend([1,2,3,4,5])
numbers

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]

5.**`'numbers'` 에 자료 1,2,3,4,5를 연산자를 이용해 추가하세요.**
```python
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
```

In [5]:
numbers += [1,2,3,4,5]
numbers

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

6.**`'numbers'` 의 자료를 2배로 늘리세요.**
```python
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
```

In [7]:
numbers=numbers * 2

In [8]:
numbers

[1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5]

7. **리스트 `numbers`에서 두 번째 요소를 `99`로 변경하고 출력하세요.**  
```python
[1, 99, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
```

In [9]:
numbers.insert(1,99)
del numbers[2]
numbers

[1,
 99,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5]

8. **리스트 `numbers`에서 마지막 요소를 제거하고 출력하세요.**  
```python
[1, 99, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]
```

In [10]:
numbers.pop()
numbers

[1,
 99,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4]

9. **리스트 `numbers`에서 `99`를 삭제하고 출력하세요.**
```python
[1, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]
```

In [11]:
del numbers[1]

In [12]:
numbers

[1,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4]

10.**리스트 `numbers`에서 4번째 `4`의 인덱스를 출력하고 삭제하세요.**
```python
18
4
[1, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4]
```

In [13]:
numbers.index(4,15)

18

In [14]:
numbers[18]

4

In [15]:
del numbers[18]
numbers

[1,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 1,
 2,
 3,
 4]

11.**리스트 `numbers`에서 `5`의 개수를 출력하세요.**
```python
5
```

In [16]:
numbers.count(5)

5

12. **complex_list 변수에 리스트 `[1, 2, 3, [4, 5, 6], (7, 8, "튜플")]`을 만들고 ``"튜플"`을 출력하세요.**  
```python
[1, 2, 3, [4, 5, 6], (7, 8, '튜플')]
튜플
```

In [17]:
complex_list = [1, 2, 3, [4, 5, 6], (7, 8, "튜플")]
complex_list

[1, 2, 3, [4, 5, 6], (7, 8, '튜플')]

In [23]:
complex_list[4][2]

'튜플'

13. **`complex_list`의 모든 요소를 역순으로 출력하세요.**  
```python
[(7, 8, '튜플'), [4, 5, 6], 3, 2, 1]
```

In [24]:
complex_list.reverse()
complex_list

[(7, 8, '튜플'), [4, 5, 6], 3, 2, 1]

14. **`complex_list`내의 [4,5,6] 리스트를 역순 정렬하고 출력하세요.**  
```python
[1, 2, 3, [6, 5, 4], (7, 8, '튜플')]
```

In [47]:
complex_list=complex_list[::-1]
complex_list

[1, 2, 3, [4, 5, 6], (7, 8, '튜플')]

In [51]:
complex_list[3].reverse()

In [52]:
complex_list

[1, 2, 3, [6, 5, 4], (7, 8, '튜플')]

15. **`complex_list`에서 '튜플'을 삭제하세요**
```python
[1, 2, 3, [6, 5, 4], [7, 8]]
```

In [57]:
complex_list[4] = list(complex_list[4])
complex_list[4]

[7, 8, '튜플']

In [58]:
del complex_list[4][2]

In [59]:
complex_list

[1, 2, 3, [6, 5, 4], [7, 8]]

16.**변수 t에 튜플 `(10, 20, 30, 40, 50)`을 만들고 최대값과 최소값을 결과 형식에 맞게 출력하세요.**  
```python
(10, 20, 30, 40, 50)
최대값: 50 최솟값: 10
```

In [61]:
t = (10, 20, 30, 40, 50)
t

(10, 20, 30, 40, 50)

In [64]:
max(t)

50

In [65]:
min(t)

10

In [66]:
print(t)
print("최대값:", max(t), "최소값:", min(t))

(10, 20, 30, 40, 50)
최대값: 50 최소값: 10

17.**튜플 `t`에서 모든 요소의 합을 출력하세요.**  
```python
150
```

In [67]:
sum(t)

150

18.**튜플 `t`에서 두 번째 요소(20)을 `"Python"`으로 변경하고 출력하세요.**  
```python
(10, 'Python', 30, 40, 50)
```

In [69]:
t = list(t)

In [70]:
t[1]="Python"
t

[10, 'Python', 30, 40, 50]

In [72]:
t = tuple(t)
t

(10, 'Python', 30, 40, 50)

19.**튜플 t에 1,2,3,4,5를 list로 변경 없이 추가하고 출력하세요**
```python
(10, 'Python', 30, 40, 50, 1, 2, 3, 4, 5)
```

In [73]:
t2 = (1,2,3,4,5)
t += t2
t

(10, 'Python', 30, 40, 50, 1, 2, 3, 4, 5)

20. **`'튜플 t'`의 요소를 2배로 늘리세요.**
```python
(10, 'Python', 30, 40, 50, 1, 2, 3, 4, 5, 10, 'Python', 30, 40, 50, 1, 2, 3, 4, 5)
```

In [74]:
t * 2

(10,
 'Python',
 30,
 40,
 50,
 1,
 2,
 3,
 4,
 5,
 10,
 'Python',
 30,
 40,
 50,
 1,
 2,
 3,
 4,
 5)